/*-------------------------------*\
             CAJAGATO 
\*-------------------------------*/

.cajaGatito{
    width: 200px;
    background-color: #ffff9d;
    position: relative;
    height: 120px;
    background-image: radial-gradient(#f7dd5e 5px, transparent 5px);
    background-size: 35px 35px;
    background-position: -5px -12px;
    top: 60px;

    .b1, .b2{
        background-color: #f7dd5e;
        height: 8px;
        width: 50px;
        position: relative;
    }
    .b1{
        right: 48px;
        bottom: -8px;
        @include transforms(rotate(-20deg));

    }
    .b2{
        left: 198px;
        bottom: 8px;
        transform-origin: left;
        @include transforms(rotate(20deg));
    }

    .gato{
        position: relative;
        bottom: 40px;
        left: 40px;
        z-index: -1;
        transition: 1s;
        
        .cara{
            height: 140px;
            width: 120px;
            background-color: $blanco;
            border-radius: 50%;
            .abajo{
                height: 40px;
                background-color: $blanco;
                width: 140px;
                border-radius: 0 0 140px 140px;
                position: relative;
                top: 60px;
                right: 10px;
            }
            .oreja-d, .oreja-i{
                height: 0;
                width: 0;
                border-bottom: 35px solid white;
                border-left: 18px solid transparent;
                border-right: 18px solid transparent;
                position: relative;
            }
            .oreja-d{
                bottom: 55px;
                @include transforms(rotate(-40deg));
            }
            .oreja-i{
                bottom: 90px;
                left: 87px;
                @include transforms(rotate(40deg));
            }
            .ojo-d, .ojo-i{
                height: 15px;
                width: 13px;
                position: relative;
            }
            .ojo-i{
                bottom: 85px;
                left: 25px;
            }
            .ojo-d{
                bottom: 70px;
                left: 83px;
            }
            .ojo{
                background-color: #434343;
                height: 100%;
                width: 100%;
                border-radius: 50%;
                @include animation(bink 2s infinite);
            }

            .nariz{
                width: 0;
                height: 0;
                border-top: 10px solid pink;
                border-left: 10px solid transparent;
                border-right: 10px solid transparent;
                position: relative;
                bottom: 72px;
                left: 48px;
            }
        }
        .gorro{
            height: 0;
            width: 0;
            border-bottom: 100px solid #ff5c9f;
            border-left: 35px solid transparent;
            border-right: 35px solid transparent; 
            position: relative;
            bottom: 220px;
            left: 40px;
            @include transforms(rotate(10deg));
            .estrella{
                position: relative;

                .d1, .d2, .d3, .d4{
                    background: #ffff9d;
                    height: 40px;
                    width: 5px;
                    position: relative;
                }
                .d1{
                    bottom: 20px;
                }
                .d2{
                    @include transforms(rotate(45deg));
                    bottom: 60px;
                }
                .d3{
                    @include transforms(rotate(90deg));
                    bottom: 100px;
                }
                .d4{
                    @include transforms(rotate(135deg));
                    bottom: 140px;
                }
            }
        }


    }
    &:hover{
        .gato{
            @include transforms(translateY(-55px));
        }
    }

}

@keyframes bink{
    20%{
        @include transforms(scaleY(0));

    }
}

/*-------------------------------*\
           FINCAJAGATO 
\*-------------------------------*/
