/*-------------------------------*\
              PERRITO
\*-------------------------------*/

.perrito{
    background-color: $color-perrito;
    height: 75px;
    width: 120px;
    position: absolute;
    top: 63%;
    right: 30%;
    border-radius: 0px 0px 0px 120px;
    @include  respond-to(500px){
        right: 50%;
        top: 130%;
    }

    .cuerpo-perrito{
        background-color: $color-perrito;
        height: 100px;
        width: 180px;
        position: relative;
        top: 55px;
        left: 70px;
        border-radius: 0px 0px 0px 60px;
    }
    .pata1, .pata2, .pata3, .pata4{
        background: $color-perrito;
        height: 50px;
        width: 18px;
        position: relative;
        padding: 0 !important;
        margin: 0 !important;
    }
    .pata1{
        left: 100px;
        top: 48px;
    }
    .pata2{
        left: 130px;
        bottom: 2px;
    }
    .pata3{
        left: 205px;
        bottom: 50px;
        background-color: rgba(151, 89, 2, 0.5);
        z-index: -1;
    }
    .pata4{
        left: 232px;
        bottom: 100px;
    }
    .cola{
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 100px solid $color-perrito;
        position: relative;
        bottom:320px;
        left: 230px;
        @include transforms(rotate(30deg));
        transform-origin: bottom;
        @include animation(moverCola 1s infinite);


    }
    .oreja{
        background-color: rgba(151, 89, 2, 0.8);
        width: 45px;
        height: 90px;
        border-radius: 0px 0px 100px 100px;
        position: relative;
        left: 75px;
        bottom: 400px;
    }
    .nariz{
        background-color: $negro;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        position: relative;
        right: 2.5px;
        bottom: 492px;
    }
    .ojo{
        background: $negro;
        height: 10px;
        width: 10px;
        border-radius: 100%;
        position: relative;
        bottom: 490px;
        left: 50px;
    }
    .lengua{
        background-color: tomato;
        height: 20px;
        width: 8px;
        border-radius: 10px;
        position: relative;
        left: 23px;
        bottom: 470px;
        @include transforms(rotate(45deg));
        z-index: -1;
        @include animation(moverLengua 1s infinite);
    }

    @keyframes moverLengua{
        50%{
            @include transforms(rotate(45deg) translateY(2.5px));
        }
    }
    @keyframes moverCola{
        50%{
            @include transforms(rotate(10deg));
        }
    }
}

/*-------------------------------*\
            FINPERRITO
\*-------------------------------*/

/*-------------------------------*\
               PANDA 
\*-------------------------------*/


.panda{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transforms(translate(-50%, -50%));
    height: 120px;
    width: 80px;
    background-color: white;
    border: 5px solid $negro; 
    border-radius: 30px;
    .carita{
        position: relative;
        background-color: white;
        border: 5px solid $negro;
        height: 90px;
        width: 110px;
        border-radius: 50%;
        bottom: 30px;
        right: 20px;
        .oreja-d, .oreja-i{
            position: relative;
            background-color: black;
            height: 25px;
            width: 40px;
            border-radius: 0px 0px 40px 40px;
        }

        .oreja-d{
            @include transforms(rotate(145deg));
            bottom: 13px;
            right: 8px;
        }
        .oreja-i{
            @include transforms(rotate(-145deg));
            left: 68px;
            bottom: 38px;
        }

        .ojo-d, .ojo-i{
            position: relative;
            background-color: black;
            height: 33px;
            width: 28px;
            border-radius: 50%;
            .pupila{
                position: relative;
                top: 8px;
                left: 7px;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background-color: $blanco;
            }
        }
        
        .ojo-d{
            bottom: 30px;
            left: 10px;
            @include transforms(rotate(25deg));
        }
        .ojo-i{
            bottom: 63px;
            left: 62px;
            @include transforms(rotate(25deg));
        }

        .nariz{
            position: relative;
            bottom: 65px;
            left: 42px;
            width: 15px;
            height: 8px;
            border-radius: 50%;
            background-color: $negro;
            border-radius: 50%;
        }

    }

    .mano-i, .mano-d{
        position: relative;
        background-color: black;
        height: 25px;
        width: 43px;
        border-radius: 30px;
    }

    .mano-d{
        bottom: 43px;
        right: 43px;
        @include animation(panda-saludo  2s infinite);
        transform-origin: right;
    }
    .mano-i{
        bottom: 68px;
        right: -70px;
    }

    .pie-d, .pie-i{
        position: relative;
        background-color: black;
        width: 17px;
        height: 25px;
        border-radius: 0px 0px 30px 30px;
    }

    .pie-d{
        bottom: 30px;
        left: 15px;
    }
    .pie-i{
        bottom: 55px;
        left: 39px;
    }

    .sombra{
        position: relative;
        background-color: rgba(0, 0, 0, 0.2);
        height: 30px;
        width: 100px; 
        border-radius: 50%;
        bottom: 50px;
        right: 15px; 
    }

}

@keyframes panda-saludo{

    50%{
        @include transforms(rotate(30deg));
    }
}

/*-------------------------------*\
             FINPANDA 
\*-------------------------------*/









