/*-------------------------------*\
              BOTONES
\*-------------------------------*/

%btns{
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: solid 1px transparent !important;
    outline: none;
    @include transitions(0.5s);
    cursor: pointer;

    &.btn_largo{
        width: 100% !important;
    }
}

.btn_rojo{
    @extend %btns;
    background: $color-secundario;
    &:hover{
        background: white;
        color: $color-secundario;
        border-color: $color-secundario !important;
    }
}

.btn_cafe{
    @extend %btns;
    background: sienna;
 

    &:hover{
        background: white;
        color: sienna;
        border-color: sienna !important;
    }
}

.btn_naranja{

    @extend %btns;
    background: $color-principal;

    &:hover{
        background: white;
        border-color: $color-principal !important;
        color: $color-principal;
    }
}

.btn_gris{

    @extend %btns;
    background: rgb(158, 158, 158);

    &:hover{
        background: white;
        border-color: rgb(158, 158, 158) !important;
        color: rgb(158, 158, 158);
    }
}


/*-------------------------------*\
            FINBOTONES
\*-------------------------------*/