/*-------------------------------*\
            RESPONSIVE
\*-------------------------------*/

.container{
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: 100px;
    margin-top: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    width: 45%;
    
}

.col-ms-6{
    width: 50%;
}

.grid{
    display: grid;
}


/*-------------------------------*\
          FINRESPONSIVE
\*-------------------------------*/

.pointer{
    cursor: pointer;
}

.margin-menu{
    margin-top: 85px;
    margin-bottom: 15px;
    transition: 1s;
}

.padding-menu{
   padding-left: 280px; 
   min-height: 700px;
   min-width: 100%;
}

.center{
    text-align: center;
}

.none{
    display: none;
}

.errNoData{
    padding: 10px;
    position: absolute;
    top: 20%;
    left: 10%;
    // @include transforms(translate(-50%, -50%));
}





