/*-------------------------------*\
            RESPONSIVE
\*-------------------------------*/

.container{
    margin-right: 100px;
    margin-bottom: 0;
    margin-left: 100px;
    margin-top: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    width: 45%;
    justify-content:center; 
    align-items: center;
}

.grid{
    display: grid;
}


/*-------------------------------*\
          FINRESPONSIVE
\*-------------------------------*/

.pointer{
    cursor: pointer;
}

.margin-menu{
    margin-top: 85px;
    margin-bottom: 15px;
}

.center{
    text-align: center;
}

.none{
    display: none;
}

.errNoData{
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transforms(translate(-50%, -50%));
}




