/*-------------------------------*\
           ELEMENTOSHTML
\*-------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', cursive;
}
*::selection{
    background: $color-principal;
    color: $negro;
}

ul li{
    list-style-type: none;
}

a{
    cursor: pointer;
    color: $color-principal;
    text-decoration: none;
}

img{
    width: 100%;
    height: auto;
}

hr{
    border-width: 0.5px;
    border-color: $color-principal;
    background: $color-principal;
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}


/*-------------------------------*\
           FINELEMENTOS
\*-------------------------------*/