.flex-modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textos-modal{

    margin-top: 80px;
    padding: 5px;
    text-align: center;
    
}

.modal{
    display: none;
    position: fixed;
    z-index: 5;
    overflow: auto;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.315);

}

.contenido-modal{
    position: relative;
    background-color: white;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
    animation-name: modal;
    animation-duration: 1s;
    border-radius: 20px;
    overflow: hidden;

}

@keyframes modal{
    from{top:-330px; opacity: 0;}
    to{top:0; opacity: 1;}
}

.close-modal{
    color: white;
    font-size: 30px;
    font-weight: bold;

    &:hover{
        color: $color-secundario;
        text-decoration: none;
        cursor: pointer;
    }
}

.modal-header, .modal-footer{
    padding: 8px 16px;
    background: $color-principal-tra;
    color:white;
}

.modal-body{
    padding: 20px 16px;
    p{
        text-align: justify;
    }
}

.galeriaModal{
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    img{
        position: absolute;
        height: 70%;
        width: auto;
        top: 50%;
        left: 50%;
        @include transforms(translate(-50%, -50%));
        object-fit: cover;
    }
}

.solicitudModal{
    padding: 60px;
    width: 75%;
    text-align: center;
    .infoSolicitadoYanimalito{
        width: 70%;
        .info{
            padding: 20px 0;
            width: 400px;
            li{
                padding: 10px;
            }
        }
    }
    .infoAnimalSoli, .infoSolicitante{
        margin: 5px;
    }

    .buttonsSolicitudes{
        width: 30%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        button{
            margin: 20px 0;
        }
    }

    img{
        width: 230px;
        height: 230px;
        object-fit: cover;
        border-radius: 100%;
        border: solid .5px rgba(100, 100, 100, .5);
    }
}

.formBuscador{
    padding: 50px 100px;
    text-align: center;
}