.divTableDatos{

    margin: 0 auto;
    width: 90%;
    padding: 5%;
    box-shadow: 5px 5px 15px rgba(100,100,100,0.5);
    background: white;
    border-radius: 44px;

    .navTable{
        display: flex;
        .buttonsTable{
            min-width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .nombreIndicador{
            min-width: 60%;
            font-size: 40px;
            text-align: center;
            font-weight: 900;
        }
        .buscarTable{
            width: 10%;
            font-size: 40px;
            text-align: right;
        }
    }

    table{
        width: 100%;
        border-spacing: 0 20px;
        border-collapse: inherit;

        thead{
            background: rgba(212,212,212,0.58);;
            tr, td, th{
                background: rgba(212,212,212,0.58);;
            }
        }
    
        tbody{
            tr{
                margin: 10px 0;
                box-shadow: 0px 0px 10px rgba(100,100,100,0.5);
            }

        }
    }


}