/*------------------------------*\
    $COLORES
\*-------------------------------*/

/**
    Colores principales de la pagina
**/

$color-principal: #ff7f04;
$color-principal-tra: rgba(255, 125, 4, 0.753);
$color-secundario: #e62303;
$negro: black;
$blanco: white;
$cafe: sienna;

/** 
    Colores de redes sociales
**/

$color-facebook: #3b5999;
$color-instagram: rgb(75, 4, 168);
$color-twitter: #2ca5dc;
$color-maps: rgb(5, 173, 5);

/** 
    Colores de animales 
**/

$color-perrito: #fdb44e;