.containerIS{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 33px;
    overflow: hidden;
    &::before{
        content: '';
        position: absolute;
        width: 30%;
        height: 100%;
        @include transforms(skew(-10deg));
        background: $color-principal;
        left: 60%;
        z-index: -1;
    }

    @include respond-to(500px){
        &::before{
            content: none;
        }

        fieldset{
            padding: 20px 0 !important;
            form{
                padding: 0 30px !important;
            }
        }
        .col-500-6{
            position: relative;
           
            &:nth-child(2){
                overflow: hidden;
                height: 450px;
                &:before{
                    content: '';
                    position: absolute;
                    width: 80%;
                    height: 100%;
                    @include transforms(skew(-10deg));
                    background: $color-principal;
                    left: 10%;
                    z-index: -1;
                }
            }
        }
    }

    fieldset{
        
        border: transparent;
        padding: 50px;
        text-align: center;
        form{
            padding: 0 50px;
        }
        .boxInput{
            margin: 25px auto;
        }
    }
}

// Crear cuenta

.crear-cuenta{
    border: transparent;
    padding: 0px 50px;
    @include respond-to(500px){
        padding: 0px !important;
        form{
            padding: 10px;
        }
    }

    form{
        padding: 30px;
        margin: auto;
        text-align: center;
        h2{
            margin: 10px 0;
        }
        i{
            font-size: 90px;
        }
        img{
            width: 200px;
        }

    }

}

.cc-cat{
    position: relative;
    min-height: 500px;
}