/*-------------------- ADOPTAR -------------------- */
/*------------------------------*\
    $COLORES
\*-------------------------------*/
/**
    Colores principales de la pagina
**/
/** 
    Colores de redes sociales
**/
/** 
    Colores de animales 
**/
aside {
  width: 370px;
}

.adoptargeneral {
  display: flex;
}

.adopta-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 30px 50px 30px;
}
.adopta-message .titulo {
  margin: 0 0 30px 0 !important;
}

.animalitosAdoptar {
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.animalitosAdoptar .card-adopta {
  margin: 10px 20px;
}

.animalitosInfo {
  border-spacing: 0;
  border-collapse: inherit;
  min-width: 80%;
  position: relative;
  margin: auto;
}
.animalitosInfo thead th {
  padding: 10px 0;
}
.animalitosInfo thead th:nth-child(2) {
  padding: 4px 15px;
}
.animalitosInfo thead th:nth-child(3) {
  padding: 4px 15px;
}
.animalitosInfo thead th:nth-child(4) {
  padding: 4px 15px;
}
.animalitosInfo tbody {
  background: whitesmoke;
}
.animalitosInfo tbody tr {
  transition: 0.5s;
}
.animalitosInfo tbody td {
  font-weight: 100;
  padding: 4px 0;
  text-align: center;
}
.animalitosInfo tbody td a {
  height: 40px;
  padding: 1px 20px;
}
.animalitosInfo tbody td img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  object-fit: cover;
}

.animalitosAdminInfo {
  width: 100%;
  padding: 5px;
  display: flex;
  color: white;
}
.animalitosAdminInfo ul {
  width: 50%;
  margin: 10px;
}
.animalitosAdminInfo ul li {
  margin: 4px;
  padding: 10px;
  background: rgba(255, 125, 4, 0.753);
}

.adoptaAnimalitoUser {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .adoptaAnimalitoUser {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 500px) {
  .adoptaAnimalitoUser {
    grid-template-columns: 1fr;
  }
}
.adoptaAnimalitoUser .card-adopta {
  margin: 20px auto;
}

.buscador-mascotas {
  position: relative;
  right: -150px;
  font-size: 30px;
  cursor: pointer;
}

#buscarAnimalitos {
  padding: 50px 100px;
  text-align: center;
}

#solicitudModal {
  text-align: center;
}
#solicitudModal .titulo {
  margin-top: 20px;
  margin-bottom: 20px;
}
#solicitudModal .solicitarAdopcion {
  padding: 30px 50px;
}
#solicitudModal .mensajeSolicitud {
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}
#solicitudModal img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
}
#solicitudModal p {
  width: 50%;
  padding: 20px;
}

@keyframes tail {
  6.6666666667% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(10deg);
  }
  16.6666666667% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(30deg);
  }
  26.6666666667% {
    transform: rotate(-2deg);
  }
  46.6666666667% {
    transform: rotate(10deg);
  }
  53.3333333333% {
    transform: rotate(-5deg);
  }
  56.6666666667% {
    transform: rotate(10deg);
  }
}
@keyframes body {
  6.6666666667% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.15);
  }
  16.6666666667% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.25);
  }
  26.6666666667% {
    transform: scaleY(1);
  }
  46.6666666667% {
    transform: scaleY(1.15);
  }
  53.3333333333% {
    transform: scaleY(1);
  }
  56.6666666667% {
    transform: scaleY(1.15);
  }
}
@keyframes left-whisker {
  6.6666666667% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(0deg);
  }
  16.6666666667% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  26.6666666667% {
    transform: rotate(0deg);
  }
  46.6666666667% {
    transform: rotate(10deg);
  }
  53.3333333333% {
    transform: rotate(-5deg);
  }
  56.6666666667% {
    transform: rotate(10deg);
  }
}
@keyframes right-whisker {
  6.6666666667% {
    transform: rotate(180deg);
  }
  10% {
    transform: rotate(190deg);
  }
  16.6666666667% {
    transform: rotate(180deg);
  }
  20% {
    transform: rotate(175deg);
  }
  26.6666666667% {
    transform: rotate(190deg);
  }
  46.6666666667% {
    transform: rotate(180deg);
  }
  53.3333333333% {
    transform: rotate(185deg);
  }
  56.6666666667% {
    transform: rotate(175deg);
  }
}
@keyframes left-ear {
  0% {
    transform: rotate(-20deg);
  }
  6.6666666667% {
    transform: rotate(-6deg);
  }
  13.3333333333% {
    transform: rotate(-15deg);
  }
  26.6666666667% {
    transform: rotate(-15deg);
  }
  33.3333333333% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  46.6666666667% {
    transform: rotate(0deg);
  }
  53.3333333333% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  93.3333333333% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotateZ(-6deg);
  }
}
@keyframes right-ear {
  0% {
    transform: rotateZ(-16deg);
  }
  6.6666666667% {
    transform: rotateZ(-16deg);
  }
  13.3333333333% {
    transform: rotateZ(-19deg);
  }
  26.6666666667% {
    transform: rotateZ(-19deg);
  }
  33.3333333333% {
    transform: rotateZ(-30deg);
  }
  36.6666666667% {
    transform: rotateZ(-19deg);
  }
  37.3333333333% {
    transform: rotateZ(-30deg);
  }
  38% {
    transform: rotateZ(-19deg);
  }
  40% {
    transform: rotateZ(-19deg);
  }
  40.6666666667% {
    transform: rotateZ(-30deg);
  }
  41.3333333333% {
    transform: rotateZ(-19deg);
  }
  46.6666666667% {
    transform: rotateZ(-9deg);
  }
  53.3333333333% {
    transform: rotateZ(-9deg);
  }
  60% {
    transform: rotateZ(-19deg);
  }
  60.6666666667% {
    transform: rotateZ(-30deg);
  }
  61.3333333333% {
    transform: rotateZ(-19deg);
  }
  62.6666666667% {
    transform: rotateZ(-19deg);
  }
  63.3333333333% {
    transform: rotateZ(-30deg);
  }
  64% {
    transform: rotateZ(-19deg);
  }
  80% {
    transform: rotateZ(-19deg);
  }
  93.3333333333% {
    transform: rotateZ(-16deg);
  }
  100% {
    transform: rotateZ(-16deg);
  }
}
.main {
  height: 400px;
  width: 370px;
  position: relative;
}
.main .stand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: #fd6e72;
  z-index: 2;
}
.main .stand::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 50px;
  border-radius: 20px;
  background-color: #ACD8FC;
  box-shadow: 0 10px 0 #ACD8FC, 0 20px 0 #ACD8FC, 0 30px 0 #ACD8FC, 0 40px 0 #ACD8FC, 0 50px 0 #ACD8FC, 0 60px 0 #ACD8FC, 0 70px 0 #ACD8FC, 0 80px 0 #ACD8FC, 0 90px 0 #ACD8FC, 0 100px 0 #ACD8FC, 0 110px 0 #ACD8FC, 0 120px 0 #ACD8FC, 0 130px 0 #ACD8FC, 0 140px 0 #ACD8FC, 0 150px 0 #ACD8FC, 0 160px 0 #ACD8FC, 0 170px 0 #ACD8FC;
}
.main .cat {
  width: 110px;
  height: 50px;
  position: absolute;
  top: calc(50% - 50px);
  right: 130px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.main .cat .body {
  width: 110px;
  height: 50px;
  background-color: #745260;
  position: absolute;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  animation: body 12s none infinite;
}
.main .cat .head {
  content: "";
  width: 70px;
  height: 35px;
  background-color: #745260;
  position: absolute;
  top: calc(50% - 10px);
  left: -40px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}
.main .tail-container {
  position: absolute;
  right: 0;
  bottom: -13px;
  z-index: 3;
}
.main .tail {
  position: absolute;
  height: 30px;
  width: 14px;
  bottom: -10px;
  right: 0;
  border-bottom-right-radius: 5px;
  background: #745260;
  z-index: 0;
}
.main .tail > .tail {
  animation: tail 12s none infinite;
  height: 100%;
  width: 14px;
  transform-origin: left;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-top-right-radius: 40px;
}
.main .ear {
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #745260;
  transform: rotate(-30deg);
  animation: left-ear 12s both infinite;
}
.main .ear + .ear {
  animation: right-ear 12s both infinite;
  top: -12px;
  left: 30px;
}
.main .nose {
  position: absolute;
  bottom: 10px;
  left: -10px;
  background-color: #fd6e72;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}
.main .whisker-container {
  position: absolute;
  bottom: 5px;
  left: -36px;
  width: 20px;
  height: 10px;
  transform-origin: right;
  animation: left-whisker 12s both infinite;
}
.main .whisker-container:nth-child(2) {
  left: -20px;
  bottom: 12px;
  transform-origin: right;
  transform: rotate(180deg);
  animation: right-whisker 12s both infinite;
}
.main .whisker {
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid #fdf9de;
  transform-origin: 100% 0;
  transform: rotate(10deg);
}
.main .whisker:last-child {
  top: 0;
  transform: rotate(-20deg);
}

.perfil {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfil .header {
  display: flex;
  position: relative;
}
.perfil .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfil .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfil .header .btn_tabs {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfil .header .btn_tabs i {
  font-size: 40px;
  margin: 0 30px;
}
.perfil .header .nombreAnimal {
  position: absolute;
  top: 70px;
  right: 40%;
  font-size: 40px;
}
.perfil .adoptadoORadoptar {
  display: flex;
  font-size: 16px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.perfil .adoptadoORadoptar strong {
  margin: 0 10px;
}
.perfil .adoptadoORadoptar span {
  margin: 0 10px;
  color: gray;
}
.perfil .adoptadoORadoptar .btn_naranja {
  width: 40%;
  margin: 3px;
  width: 250px;
}
.perfil .perfilTabsItems {
  display: flex;
  margin-top: 20px;
}
.perfil .descripcion {
  background: whitesmoke;
  padding: 30px;
  width: 40%;
  border-radius: 44px;
  margin: 0 auto;
}
.perfil .descripcion p {
  margin: 10px 0;
}
.perfil .informacion {
  padding: 30px;
  width: 50%;
  background: whitesmoke;
  border-radius: 44px;
  margin: auto;
}
.perfil .informacion table {
  width: 100%;
}
.perfil .informacion tr {
  position: relative;
}
.perfil .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfil .informacion tr td:nth-child(2) {
  text-align: right;
}
.perfil .fotos {
  padding: 20px;
  border-radius: 44px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
.perfil .fotos img {
  border-radius: 10px;
  margin: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 1px rgba(128, 128, 128, 0.141);
}
.perfil .vacunas {
  width: 70%;
  margin: auto;
  border-radius: 44px;
  background: whitesmoke;
  padding: 40px;
}
.perfil .vacunas .vacuna {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.perfil .vacunas .vacuna:hover .descripcionVacuna {
  display: block;
}
.perfil .vacunas .vacuna .descripcionVacuna {
  display: none;
  position: absolute;
  right: -5px;
  z-index: 2;
  background: #c7c7c7;
  border-radius: 20px;
  color: white;
  max-width: 200px;
  padding: 20px;
}
.perfil .vacunas .vacuna .descripcionVacuna i {
  position: absolute;
  top: -20px;
  font-size: 30px;
  color: #c7c7c7;
}

.perfilUsuario {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfilUsuario .header {
  display: flex;
  position: relative;
}
.perfilUsuario .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfilUsuario .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfilUsuario .header .btn_editar {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfilUsuario .header .btn_editar i {
  font-size: 40px;
  margin: 0 30px;
}
.perfilUsuario .header .nombreUsuario {
  padding: 0 200px;
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.perfilUsuario .informacion {
  margin: 10px auto;
  padding: 30px;
  width: 90%;
  background: whitesmoke;
  border-radius: 44px;
}
.perfilUsuario .informacion table {
  margin: auto;
  width: 50%;
}
.perfilUsuario .informacion tr {
  position: relative;
}
.perfilUsuario .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfilUsuario .informacion tr td:nth-child(2) {
  text-align: right;
}

.adopcion-concreta {
  box-shadow: 0px 0px 15px rgba(100, 100, 100, 0.5);
  padding: 30px;
  width: 80%;
  border-radius: 44px;
  margin: auto;
}
.adopcion-concreta .info-adops {
  width: 50%;
  padding: 20px;
}
.adopcion-concreta .info-adops:nth-child(1) {
  text-align: right;
}
.adopcion-concreta .info-adops:nth-child(1) .row {
  justify-content: right;
  align-items: center;
}
.adopcion-concreta .info-adops .row {
  align-items: center;
}
.adopcion-concreta .info-adops img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 100%;
  margin: 0 10px;
}
.adopcion-concreta .info-adops ul {
  padding: 20px;
  margin: 20px;
}

/*-------------------------------*\
    FORMULARIO NUEVO ANIMALITO 
\*-------------------------------*/
.fielNewAnimalito {
  border: solid 0.5px transparent;
}
.fielNewAnimalito .titulo {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.fielNewAnimalito form {
  width: 95%;
  margin: auto;
}
.fielNewAnimalito form .col-ms-6 {
  padding: 0 30px;
}

.editarAnimalito form {
  margin-left: auto;
  padding: 10px 0px;
  width: 40%;
}
.editarAnimalito .informacionPrevia {
  width: 40%;
}

.informacionPrevia {
  margin-right: auto;
  text-align: center;
}
.informacionPrevia .fotoPerfil {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}
.informacionPrevia .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacionPrevia table {
  margin: 10px auto;
  padding: 30px;
}
.informacionPrevia table tr td {
  font-weight: 700;
  width: 50%;
}
.informacionPrevia table tr td:nth-child(1) {
  text-align: left;
}
.informacionPrevia table tr td:nth-child(2) {
  text-align: right;
}

/*-------------------------------*\
  FIN FORMULARIO NUEVO ANIMALITO 
\*-------------------------------*/
/*-------------------------------*\
 FORMULARIO FOTOS NUEVO ANIMALITO 
\*-------------------------------*/
.agregarFotosAnimalitos {
  padding: 0 40px;
}

.fotos {
  position: relative;
  overflow: hidden;
}
.fotos::before {
  content: "";
  width: 50%;
  height: 100px;
  background: #ff7f04;
  position: absolute;
  z-index: -1;
  bottom: -50%;
  right: 0;
  transform: skew(-60deg);
  -webkit-transform: skew(-60deg);
  -o-transform: skew(-60deg);
  -ms-transform: skew(-60deg);
  -moz-transform: skew(-60deg);
}

.dataAnimalito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.dataAnimalito table {
  padding: 15px;
  border: solid 1px #ff7f04;
  border-radius: 10px;
}
.dataAnimalito table th {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.dataAnimalito table td {
  border-top: 1px solid #ff7f04;
  padding: 10px;
}

#imagesBox {
  margin: 20px 0;
  min-height: 200px;
  position: relative;
}
#imagesBox img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  background: black;
  margin: 10px 5px;
  border-radius: 10px;
}
#imagesBox h3 {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.divImageS {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 3px;
  display: inline-block;
}

/*-------------------------------*\
FINFORMULARIO FOTOS NUEVO ANIMALITO 
\*-------------------------------*/
.form_2, .form_3 {
  border: solid 0.5px transparent;
  display: none;
}

/*-------------------------------*\
 FORMULARIO VACUNAS DEL ANIMALITO 
\*-------------------------------*/
.form_3 .titulo {
  margin-top: 20px;
}
.form_3 form {
  padding: 20px;
}
.form_3 .vacunasBox {
  margin: 20px 0;
  width: 50%;
}
.form_3 .vacunasBox label {
  margin-left: 30px;
}
.form_3 .infoVacunasSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  height: 250px;
  width: 50%;
  border-radius: 44px;
  background: whitesmoke;
  padding: 20px;
}

/*-------------------------------*\
FINFORMULARIO VACUNAS DEL ANIMALITO 
\*-------------------------------*/
.galeriaCRUD {
  display: flex;
}
.galeriaCRUD .fotoPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  overflow: hidden;
}
.galeriaCRUD .fotoPerfil img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.galeriaCRUD .galeria {
  width: 75%;
}

.divImage {
  margin: 10px 20px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  display: inline-block;
}
.divImage:hover .buttonsImg {
  bottom: 0px;
}
.divImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.divImage .buttonsImg {
  display: flex;
  height: 40px;
  position: absolute;
  left: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  bottom: -40px;
  width: 100%;
  background: rgba(255, 255, 255, 0.534);
}
.divImage .buttonsImg span {
  border: solid 1px rgba(100, 100, 100, 0.5);
  cursor: pointer;
  display: block;
  width: 50%;
  padding: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
}

.naw80 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsAction {
  width: 30%;
  padding: 10px 0;
  color: white;
}
.buttonsAction button {
  margin: 5px 1px;
}

.deleteImg {
  line-height: 20px;
  padding: 10px;
  height: fit-content;
  position: absolute;
  top: 0;
  right: -7px;
  font-size: 20px;
  background: #ff7f04;
  border-radius: 50%;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.respuestasAdopcion, .datosAdoptante {
  width: 90%;
  margin: 20px auto;
}
.respuestasAdopcion td, .respuestasAdopcion th, .datosAdoptante td, .datosAdoptante th {
  padding: 20px;
  border: solid 1px rgba(100, 100, 100, 0.5);
}

.recomendaciones {
  text-align: left;
  padding: 20px;
}
.recomendaciones .col-ms-6 {
  padding: 0 20px;
}
.recomendaciones .titulo {
  margin-top: 0;
}
.recomendaciones ul, .recomendaciones li {
  font-weight: 400;
}

.firmas {
  margin-top: 100px;
  text-align: center;
}
.firmas .firmaAdoptante, .firmas .firmaFundacion {
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.firmas .nombreCompleto {
  margin: 30px 0 0 0;
}

.informacionAdoptado {
  margin: 0 0 100px 0;
  display: flex;
  padding: 0 200px;
  justify-content: center;
  align-items: center;
}
.informacionAdoptado .fotoPerfil {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}
.informacionAdoptado .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacionAdoptado .nombreAdoptado, .informacionAdoptado .edadAdoptado, .informacionAdoptado .sexoAdoptado {
  padding: 13px 30px;
}

#lugarFirma img {
  height: 100px;
  object-fit: cover;
  width: 300px;
}

.btnAdoptar {
  width: 90%;
  margin: auto;
}
.btnAdoptar button, .btnAdoptar input {
  width: 48%;
  margin: 10px auto;
}

#cancelar section {
  padding: 50px 40px;
}
#cancelar h3 {
  text-align: center;
}
#cancelar .boxInput, #cancelar p {
  margin: 20px 0;
  width: 50%;
  padding: 20px;
}

#entregarModal section {
  padding: 50px 40px;
}
#entregarModal h3 {
  text-align: center;
}
#entregarModal p {
  padding: 20px;
}

.divTableDatos {
  margin: 0 auto;
  width: 90%;
  padding: 5%;
  box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.5);
  background: white;
  border-radius: 44px;
}
.divTableDatos .navTable {
  display: flex;
}
.divTableDatos .navTable .buttonsTable {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divTableDatos .navTable .nombreIndicador {
  min-width: 60%;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}
.divTableDatos .navTable .buscarTable {
  width: 10%;
  font-size: 40px;
  text-align: right;
  cursor: pointer;
}
.divTableDatos table {
  width: 100%;
  border-spacing: 0 20px;
  border-collapse: inherit;
}
.divTableDatos table thead {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table thead tr, .divTableDatos table thead td, .divTableDatos table thead th {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table tbody tr {
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
}

.soliComunicadas thead {
  background: #ff7f04 !important;
  color: white;
}
.soliComunicadas thead tr, .soliComunicadas thead th {
  background: #ff7f04 !important;
  color: white;
}

.tableUsuarios td, .tableUsuarios th {
  padding: 5px 0;
}
.tableUsuarios img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  border-radius: 100%;
}
.tableUsuarios .btn_cafe, .tableUsuarios .btn_naranja, .tableUsuarios .btn_rojo, .tableUsuarios .btnB_cafe {
  padding: 5px 15px;
}

.boxPerrito {
  width: 50vmin;
  height: 40vmin;
  position: relative;
  margin: 10px;
}

.dog {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40vmin;
  height: 30vmin;
  z-index: 0;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
}
@media only screen and (min-height: 800px) {
  .dog {
    width: 30vmin;
    height: 20vmin;
  }
}
.dog .heart {
  position: absolute;
  width: 6%;
  height: 7%;
  background-color: #e64356;
  border-bottom-right-radius: 23%;
  opacity: 0;
  animation-fill-mode: both;
}
@keyframes heart-beat {
  0% {
    transform: scale(0.75) rotate(35deg);
    opacity: 1;
  }
  5%, 15%, 25% {
    transform: scale(1) rotate(35deg);
  }
  10%, 20% {
    transform: scale(0.75) rotate(35deg);
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(35deg) translateY(-10px) translateX(-10px);
    opacity: 0;
  }
}
.dog .heart--1 {
  top: -25%;
  left: 15%;
  animation: heart-beat 2s ease-out infinite 1.5s;
}
.dog .heart--2 {
  top: -36%;
  left: 7%;
  animation: heart-beat 2s ease-out infinite 1s;
}
.dog .heart--3 {
  top: -48%;
  left: 14%;
  animation: heart-beat 2s ease-out infinite 0.5s;
}
.dog .heart--4 {
  top: -53%;
  left: -3%;
  animation: heart-beat 2s ease-out infinite;
}
.dog .heart:before,
.dog .heart:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  border-radius: 50%;
  background-color: #e64356;
}
.dog .heart:after {
  bottom: 0px;
  left: -53%;
}
.dog .heart:before {
  top: -53%;
  right: 0px;
  transform: rotate(45deg);
}
.dog .body {
  position: absolute;
  width: 100%;
  height: 50%;
  background-color: #f79e38;
  border-top-right-radius: 17% 40%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 5% 13%;
  border-bottom-left-radius: 30% 40%;
  z-index: 3;
}
.dog .cheast {
  position: absolute;
  width: 45%;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 17% 40%;
  border-top-left-radius: 25%;
  border-bottom-right-radius: 40% 40%;
  border-bottom-left-radius: 40% 40%;
  z-index: 4;
}
.dog .cheast:after, .dog .cheast:before {
  position: absolute;
  content: "";
  width: 7%;
  height: 55%;
  border-radius: 39%;
  background-color: #fff;
}
.dog .cheast:after {
  top: 36%;
  left: 3%;
  transform: rotate(-1deg);
}
.dog .cheast:before {
  top: 19%;
  left: -4%;
}
.dog .head {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
  animation: dog-head 1s ease-out infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes dog-head {
  to {
    transform: translateX(-3px) rotate(3deg);
  }
}
.dog .tail {
  position: absolute;
  top: -14%;
  left: 92%;
  width: 10%;
  height: 45%;
  background-color: #f79e38;
  border-top-right-radius: 30% 30%;
  border-top-left-radius: 40% 30%;
  border-bottom-right-radius: 30% 40%;
  border-bottom-left-radius: 40% 40%;
  z-index: 2;
  transform: rotate(20deg);
  animation: dog-tail 170ms ease-out infinite;
}
@keyframes dog-tail {
  from, to {
    transform: rotate(10deg);
  }
  50%, 60% {
    transform: rotate(70deg) translateX(10px) translateY(2px);
  }
}
.dog .tail:before {
  position: absolute;
  content: "";
  top: -8%;
  left: -7%;
  width: 100%;
  height: 50%;
  background-color: #f79e38;
  border-radius: 50%;
  animation: dog-tail-before 160ms ease-out infinite;
}
@keyframes dog-tail-before {
  from, to {
    transform: translateX(0);
  }
  50% {
    transform: translateX(3px);
  }
}
.dog .legs {
  position: absolute;
  top: 97%;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: 2;
  animation: dog-legs 1s ease-out infinite 1.5s;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes dog-legs {
  from {
    transform: translateY(-1px);
  }
  to {
    transform: translateY(0px);
  }
}
.dog .legs__front, .dog .legs__back {
  width: 10%;
  height: 100%;
  background-color: #f79e38;
  position: absolute;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.dog .legs__front:after, .dog .legs__back:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 100%;
  height: 49%;
  background-color: #fff;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
}
.dog .legs__front--left {
  left: 38%;
  transform: rotate(1deg);
}
.dog .legs__front--right {
  left: 20%;
  transform: rotate(-4deg);
}
.dog .legs__back--left {
  left: 69%;
  transform: rotate(-7deg);
}
.dog .legs__back--right {
  left: 85%;
  transform: rotate(2deg);
}
.dog .face {
  height: 40%;
  width: 42%;
  position: absolute;
  top: -13%;
  left: -3%;
  background-color: #fff;
  border-top-right-radius: 45% 50%;
  border-top-left-radius: 35% 50%;
  border-bottom-left-radius: 35% 21%;
  z-index: 6;
}
.dog .face:after, .dog .face:before {
  content: "";
  position: absolute;
  background-color: #f79e38;
}
.dog .face:after {
  width: 27%;
  left: 7%;
  height: 23%;
  border-top-right-radius: 100% 100%;
  border-bottom-left-radius: 49% 100%;
  transform: rotate(-64deg);
  top: -1%;
  border-top-left-radius: 0% -20%;
  border-bottom-right-radius: 52% 0%;
  box-shadow: rgba(0, 0, 0, 0.1) 2px -6px 11px 1px;
}
.dog .face:before {
  width: 55%;
  left: 42%;
  top: 0%;
  height: 35%;
  border-radius: 23% 7% 16% 12%;
  transform: rotate(0deg) scaleX(-1);
}
.dog .eye {
  width: 6%;
  height: 6%;
  position: absolute;
  border-radius: 100%;
  top: 24%;
  background-color: #000;
  z-index: 6;
  animation: dog-eye 1800ms infinite;
}
@keyframes dog-eye {
  from, to {
    animation-timing-function: step-end;
    opacity: 1;
  }
  50%, 55% {
    animation-timing-function: step-start;
    opacity: 0;
  }
}
.dog .eye--left {
  left: 27%;
}
.dog .eye--right {
  left: 46%;
}
.dog .mouth {
  background-color: transparent;
  border-color: #000;
  width: 44%;
  border-style: solid;
  border-width: 0.7vmin;
  height: 48%;
  z-index: 6;
  position: absolute;
  bottom: 35%;
  left: 14%;
  border-top-color: transparent;
  border-bottom-left-radius: 72% 100%;
  border-bottom-right-radius: 77% 100%;
  border-right-color: transparent;
  border-top-right-radius: 50%;
  border-left-color: transparent;
  transform: rotate(-41deg);
}
.dog .year {
  position: absolute;
}
.dog .year--left {
  top: -40%;
  left: 3%;
  height: 47%;
  width: 19%;
  z-index: 1;
  background-color: #e99036;
  border-top-left-radius: 68% 100%;
  border-top-right-radius: 100% 100%;
  transform-origin: bottom center;
  animation: left-year 1000ms ease-out infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes left-year {
  from {
    transform: rotate(-26deg);
  }
  25% {
    transform: rotate(-35deg);
  }
  50% {
    transform: rotate(-26deg);
  }
  to {
    transform: rotate(-40deg);
  }
}
.dog .year--right {
  top: -39%;
  left: 19%;
  height: 38%;
  width: 18%;
  z-index: 1;
  background-color: #f79e38;
  border-top-left-radius: 56% 100%;
  border-top-right-radius: 100% 100%;
  transform-origin: bottom center;
  border-bottom-right-radius: 14% 38%;
  animation: right-year 1000ms ease-out infinite;
  animation-fill-mode: both;
  animation-direction: alternate;
}
@keyframes right-year {
  from {
    transform: rotate(-331deg);
  }
  25% {
    transform: rotate(-320deg);
  }
  50% {
    transform: rotate(-331deg);
  }
  to {
    transform: rotate(-320deg);
  }
}
.dog .nose {
  position: absolute;
  width: 24%;
  height: 24%;
  background-color: #fff;
  z-index: 7;
  left: -12%;
  top: -3%;
  border-bottom-left-radius: 50% 88%;
  border-top-left-radius: 11% 43%;
  transform: rotate(12deg);
}
.dog .nose:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 55%;
  background-color: #000;
  border-radius: 100%;
  left: -7%;
  top: -18%;
}

/*z-indices*/
/*Animation*/
@keyframes eye-blink {
  0% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(0.1);
  }
  20% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(1);
  }
}
@keyframes tail-wag {
  0% {
    transform: rotate(-25deg);
  }
  10% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-25deg);
  }
  30% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-25deg);
  }
  50% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-25deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-25deg);
  }
}
@keyframes tongue-stick {
  0% {
    transform: scaleY(0.1) translateY(-20px);
  }
  20% {
    transform: scaleY(0.1) translateY(-20px);
  }
  30% {
    transform: scaleY(0.5) translateY(0px);
  }
  40% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  50% {
    transform: scaleY(0.8) translateY(0px) rotate(15deg);
  }
  60% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  70% {
    transform: scaleY(0.8) translateY(0px) rotate(-15deg);
  }
  80% {
    transform: scaleY(1) translateY(0px) rotate(0deg);
  }
  90% {
    transform: scaleY(0.8) translateY(0px) rotate(15deg);
  }
  100% {
    transform: scaleY(0.1) translateY(-20px) rotate(0deg);
  }
}
@keyframes ear-shake-right {
  0% {
    transform: rotate(70deg);
  }
  10% {
    transform: rotate(80deg);
  }
  30% {
    transform: rotate(70deg);
  }
  40% {
    transform: rotate(80deg);
  }
  100% {
    transform: rotate(70deg);
  }
}
@keyframes ear-shake-left {
  0% {
    transform: rotate(-70deg);
  }
  10% {
    transform: rotate(-80deg);
  }
  30% {
    transform: rotate(-70deg);
  }
  40% {
    transform: rotate(-80deg);
  }
  100% {
    transform: rotate(-70deg);
  }
}
@keyframes body-shake {
  0% {
    transform: translateY(0px);
  }
  16.6666666667% {
    transform: translateY(2%);
  }
  33.3333333333% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(2%);
  }
  66.6666666667% {
    transform: translateY(0px);
  }
  83.3333333333% {
    transform: translateY(2%);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes paw-press {
  0% {
    transform: scaleY(1) scaleX(1);
  }
  16.6666666667% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  33.3333333333% {
    transform: scaleY(1) scaleX(1);
  }
  50% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  66.6666666667% {
    transform: scaleY(1) scaleX(1);
  }
  83.3333333333% {
    transform: scaleY(0.9) scaleX(1.05) translateY(10%);
  }
  100% {
    transform: scaleY(1) scaleX(1);
  }
}
@keyframes neck-shake {
  0% {
    top: 9%;
  }
  16.6666666667% {
    top: 11%;
  }
  33.3333333333% {
    top: 9%;
  }
  50% {
    top: 11%;
  }
  66.6666666667% {
    top: 9%;
  }
  83.3333333333% {
    top: 11%;
  }
  100% {
    top: 9%;
  }
}
@keyframes head-shake {
  0% {
    top: 6%;
  }
  16.6666666667% {
    top: 8%;
  }
  33.3333333333% {
    top: 6%;
  }
  50% {
    top: 8%;
  }
  66.6666666667% {
    top: 6%;
  }
  83.3333333333% {
    top: 8%;
  }
  100% {
    top: 6%;
  }
}
@keyframes mouth-shake {
  0% {
    bottom: 0%;
  }
  16.6666666667% {
    bottom: 2%;
  }
  33.3333333333% {
    bottom: 0%;
  }
  50% {
    bottom: 2%;
  }
  66.6666666667% {
    bottom: 0%;
  }
  83.3333333333% {
    bottom: 2%;
  }
  100% {
    bottom: 0%;
  }
}
#rotate {
  background-color: #f0f0f0;
  padding: 5px;
  position: fixed;
  top: 0px;
  left: 50px;
}

.corgi {
  height: 35vmin;
  width: 54vmin;
  position: relative;
  margin: auto;
}
@media only screen and (min-height: 800px) {
  .corgi {
    height: 20vmin;
    width: 31vmin;
  }
}
.corgi div {
  position: absolute;
}
.corgi .ear {
  background-color: #F09F2E;
  height: 30%;
  width: 55%;
  top: 5%;
  z-index: 3;
}
.corgi .ear--r {
  right: 75%;
  border-bottom-left-radius: 100% 90%;
  border-top-left-radius: 10%;
  transform-origin: 80% center;
  animation: ear-shake-right 2s none infinite;
}
.corgi .ear--l {
  left: 63%;
  background-color: #D27537;
  border-bottom-right-radius: 100% 90%;
  border-top-right-radius: 10%;
  transform-origin: 20% center;
  animation: ear-shake-left 2s none infinite;
}
.corgi .head {
  top: 6%;
  right: 10%;
  height: 40%;
  width: 30%;
  z-index: 3;
  animation: head-shake 2s none infinite;
}
.corgi .face {
  background-color: #F09F2E;
  border-radius: 50%;
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 4;
}
.corgi .eye {
  background-color: #3E3954;
  height: 6%;
  width: 6%;
  position: absolute;
  z-index: 6;
  border-radius: 50%;
  animation: eye-blink 2s none infinite;
}
.corgi .eye--left {
  left: 40%;
  top: 43%;
}
.corgi .eye--right {
  right: 13%;
  top: 41%;
}
.corgi .face__white {
  background-color: #FFFFFF;
  width: 45%;
  height: 77%;
  top: -15%;
  left: 29%;
  transform: rotate(-25deg);
}
.corgi .face__orange {
  background-color: #F09F2E;
  content: " ";
  position: absolute;
  width: 110%;
  height: 110%;
  display: block;
  border-radius: 100%;
}
.corgi .face__orange--l {
  right: 65%;
}
.corgi .face__orange--r {
  left: 65%;
}
.corgi .face__curve {
  background-color: #F09F2E;
  width: 30%;
  height: 20%;
  right: -12%;
  bottom: 42%;
  overflow: hidden;
}
.corgi .face__curve:after {
  content: "";
  background-color: #8C5A46;
  position: absolute;
  width: 69%;
  height: 82%;
  border-radius: 0% 100%;
  top: -32%;
  right: -13%;
}
.corgi .mouth {
  bottom: 0%;
  width: 100%;
  height: 50%;
  left: 28%;
  z-index: 5;
  animation: mouth-shake 2s none infinite;
}
.corgi .nose {
  height: 36%;
  width: 27%;
  top: 0%;
  background-color: #3E3954;
  z-index: 1;
  right: 0%;
  border-bottom-right-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
}
.corgi .nose:after {
  content: "";
  width: 100%;
  height: 30%;
  display: block;
  border-top-right-radius: 50% 100%;
  border-top-left-radius: 50% 100%;
  background-color: #3E3954;
  position: absolute;
  top: -25%;
}
.corgi .mouth__left {
  background-color: #FFFFFF;
  width: 50%;
  height: 55%;
}
.corgi .mouth__left--round {
  background-color: #F09F2E;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  left: -50%;
  top: -50%;
}
.corgi .mouth__left--sharp {
  background-color: #F09F2E;
  width: 35%;
  height: 50%;
  bottom: 0px;
  left: -20%;
  transform: skewX(50deg);
}
.corgi .lowerjaw {
  background-color: #FFFFFF;
  width: 100%;
  height: 80%;
  border-radius: 50%/100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: -9%;
}
.corgi .lips {
  z-index: 2;
  height: 25%;
  width: 35%;
  top: 19%;
  right: 2%;
}
.corgi .lips:before, .corgi .lips:after {
  content: "";
  display: block;
  background: #FFFFFF;
  width: 39%;
  height: 100%;
  border-color: #3E3954;
  border-width: 3px;
  border-style: solid;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 40%;
  border-top-right-radius: 20%;
  border-top-color: transparent;
  position: absolute;
}
.corgi .lips:before {
  z-index: 1;
}
.corgi .lips:after {
  transform: rotateY(180deg);
  left: initial;
  right: 9%;
}
.corgi .tongue {
  width: 15%;
  height: 60%;
  background-color: #F15F55;
  right: 14%;
  top: 35%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  transform-origin: 50% 0%;
  animation: tongue-stick 2s none infinite;
}
.corgi .snout {
  background-color: #FFFFFF;
  right: 0%;
  top: 0%;
  width: 50%;
  height: 36%;
  border-top-right-radius: 35% 75%;
}
.corgi .neck__back {
  height: 50%;
  width: 20%;
  transform: skewX(-20deg);
  background-color: #F09F2E;
  z-index: 2;
  right: 24%;
  top: 9%;
  animation: neck-shake 2s none infinite;
}
.corgi .neck__front {
  height: 50%;
  width: 20%;
  right: 11%;
  top: 20%;
  background-color: #F09F2E;
  z-index: 2;
  transform: skewX(2deg);
}
.corgi .body {
  height: 44%;
  width: 77%;
  background-color: #F09F2E;
  right: 10.5%;
  bottom: 12%;
  border-top-left-radius: 20% 50%;
  border-bottom-left-radius: 20% 50%;
  border-top-right-radius: 20% 60%;
  border-bottom-right-radius: 20% 40%;
  z-index: 2;
  overflow: hidden;
  animation: body-shake 2s none infinite;
}
.corgi .body__chest {
  background-color: #FFFFFF;
  height: 87%;
  width: 29%;
  right: 5%;
  bottom: -3%;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
}
.corgi .foot {
  height: 35%;
  width: 9.5%;
  bottom: 0;
}
.corgi .foot__left {
  z-index: 3;
  background-color: #F09F2E;
}
.corgi .foot__left:after {
  background-color: #FFFFFF;
}
.corgi .foot__left:before {
  background-color: #F09F2E;
}
.corgi .foot__right {
  z-index: 1;
  background-color: #D27537;
}
.corgi .foot__right:after {
  background-color: #B6D8EF;
}
.corgi .foot__right:before {
  background-color: #D27537;
}
.corgi .foot__back:before {
  transform: skewX(-10deg);
  right: -25%;
}
.corgi .foot__front:before {
  transform: skewX(10deg);
  right: 25%;
}
.corgi .foot__1 {
  right: 37%;
}
.corgi .foot__2 {
  right: 15%;
}
.corgi .foot__2:before {
  transform: skewX(-10deg);
  right: -25%;
}
.corgi .foot__3 {
  left: 12.65%;
}
.corgi .foot__4 {
  left: 31%;
}
.corgi .foot:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
}
.corgi .foot:after {
  /*paws*/
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125%;
  height: 18%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  animation: paw-press 2s none infinite;
}
.corgi .tail {
  width: 26%;
  height: 13%;
  background-color: #D27537;
  border-top-left-radius: 50% 100%;
  border-bottom-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
  bottom: 40%;
  left: 1%;
  transform-origin: 80% center;
  animation: tail-wag 2s none infinite;
}

.test, .testrev {
  transition: all 0.8s ease;
}

/*-------------------- ADOPTAR -------------------- */

/*# sourceMappingURL=adoptar.css.map */
