/*-------------------- ADOPTAR -------------------- */
/*------------------------------*\
    $COLORES
\*-------------------------------*/
/**
    Colores principales de la pagina
**/
/** 
    Colores de redes sociales
**/
/** 
    Colores de animales 
**/
aside {
  width: 370px;
}

.adoptargeneral {
  display: flex;
}

.adopta-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 30px 50px 30px;
}
.adopta-message .titulo {
  position: absolute;
  top: 17%;
  margin: 0 0 30px 0 !important;
}

.animalitosAdoptar {
  width: 100%;
  margin-top: 20px;
}
.animalitosAdoptar .card-adopta {
  margin: 10px auto;
}

.animalitosInfo {
  border-spacing: 0;
  border-collapse: inherit;
  min-width: 80%;
  position: relative;
  margin: auto;
}
.animalitosInfo thead th {
  padding: 10px 0;
}
.animalitosInfo thead th:nth-child(2) {
  padding: 4px 15px;
}
.animalitosInfo thead th:nth-child(3) {
  padding: 4px 15px;
}
.animalitosInfo thead th:nth-child(4) {
  padding: 4px 15px;
}
.animalitosInfo tbody {
  background: whitesmoke;
}
.animalitosInfo tbody tr {
  transition: 0.5s;
}
.animalitosInfo tbody td {
  font-weight: 100;
  padding: 4px 0;
  text-align: center;
}
.animalitosInfo tbody td a {
  height: 40px;
  padding: 1px 20px;
}
.animalitosInfo tbody td img {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  object-fit: cover;
}

.animalitosAdminInfo {
  width: 100%;
  padding: 5px;
  display: flex;
  color: white;
}
.animalitosAdminInfo ul {
  width: 50%;
  margin: 10px;
}
.animalitosAdminInfo ul li {
  margin: 4px;
  padding: 10px;
  background: rgba(255, 125, 4, 0.753);
}

@keyframes tail {
  6.6666666667% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(10deg);
  }
  16.6666666667% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(30deg);
  }
  26.6666666667% {
    transform: rotate(-2deg);
  }
  46.6666666667% {
    transform: rotate(10deg);
  }
  53.3333333333% {
    transform: rotate(-5deg);
  }
  56.6666666667% {
    transform: rotate(10deg);
  }
}
@keyframes body {
  6.6666666667% {
    transform: scaleY(1);
  }
  10% {
    transform: scaleY(1.15);
  }
  16.6666666667% {
    transform: scaleY(1);
  }
  20% {
    transform: scaleY(1.25);
  }
  26.6666666667% {
    transform: scaleY(1);
  }
  46.6666666667% {
    transform: scaleY(1.15);
  }
  53.3333333333% {
    transform: scaleY(1);
  }
  56.6666666667% {
    transform: scaleY(1.15);
  }
}
@keyframes left-whisker {
  6.6666666667% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(0deg);
  }
  16.6666666667% {
    transform: rotate(-5deg);
  }
  20% {
    transform: rotate(0deg);
  }
  26.6666666667% {
    transform: rotate(0deg);
  }
  46.6666666667% {
    transform: rotate(10deg);
  }
  53.3333333333% {
    transform: rotate(-5deg);
  }
  56.6666666667% {
    transform: rotate(10deg);
  }
}
@keyframes right-whisker {
  6.6666666667% {
    transform: rotate(180deg);
  }
  10% {
    transform: rotate(190deg);
  }
  16.6666666667% {
    transform: rotate(180deg);
  }
  20% {
    transform: rotate(175deg);
  }
  26.6666666667% {
    transform: rotate(190deg);
  }
  46.6666666667% {
    transform: rotate(180deg);
  }
  53.3333333333% {
    transform: rotate(185deg);
  }
  56.6666666667% {
    transform: rotate(175deg);
  }
}
@keyframes left-ear {
  0% {
    transform: rotate(-20deg);
  }
  6.6666666667% {
    transform: rotate(-6deg);
  }
  13.3333333333% {
    transform: rotate(-15deg);
  }
  26.6666666667% {
    transform: rotate(-15deg);
  }
  33.3333333333% {
    transform: rotate(-30deg);
  }
  40% {
    transform: rotate(-30deg);
  }
  46.6666666667% {
    transform: rotate(0deg);
  }
  53.3333333333% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-15deg);
  }
  80% {
    transform: rotate(-15deg);
  }
  93.3333333333% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotateZ(-6deg);
  }
}
@keyframes right-ear {
  0% {
    transform: rotateZ(-16deg);
  }
  6.6666666667% {
    transform: rotateZ(-16deg);
  }
  13.3333333333% {
    transform: rotateZ(-19deg);
  }
  26.6666666667% {
    transform: rotateZ(-19deg);
  }
  33.3333333333% {
    transform: rotateZ(-30deg);
  }
  36.6666666667% {
    transform: rotateZ(-19deg);
  }
  37.3333333333% {
    transform: rotateZ(-30deg);
  }
  38% {
    transform: rotateZ(-19deg);
  }
  40% {
    transform: rotateZ(-19deg);
  }
  40.6666666667% {
    transform: rotateZ(-30deg);
  }
  41.3333333333% {
    transform: rotateZ(-19deg);
  }
  46.6666666667% {
    transform: rotateZ(-9deg);
  }
  53.3333333333% {
    transform: rotateZ(-9deg);
  }
  60% {
    transform: rotateZ(-19deg);
  }
  60.6666666667% {
    transform: rotateZ(-30deg);
  }
  61.3333333333% {
    transform: rotateZ(-19deg);
  }
  62.6666666667% {
    transform: rotateZ(-19deg);
  }
  63.3333333333% {
    transform: rotateZ(-30deg);
  }
  64% {
    transform: rotateZ(-19deg);
  }
  80% {
    transform: rotateZ(-19deg);
  }
  93.3333333333% {
    transform: rotateZ(-16deg);
  }
  100% {
    transform: rotateZ(-16deg);
  }
}
.main {
  height: 400px;
  width: 370px;
  position: relative;
}
.main .stand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  height: 20px;
  width: 200px;
  border-radius: 20px;
  background-color: #fd6e72;
  z-index: 2;
}
.main .stand::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%);
  height: 10px;
  width: 50px;
  border-radius: 20px;
  background-color: #ACD8FC;
  box-shadow: 0 10px 0 #ACD8FC, 0 20px 0 #ACD8FC, 0 30px 0 #ACD8FC, 0 40px 0 #ACD8FC, 0 50px 0 #ACD8FC, 0 60px 0 #ACD8FC, 0 70px 0 #ACD8FC, 0 80px 0 #ACD8FC, 0 90px 0 #ACD8FC, 0 100px 0 #ACD8FC, 0 110px 0 #ACD8FC, 0 120px 0 #ACD8FC, 0 130px 0 #ACD8FC, 0 140px 0 #ACD8FC, 0 150px 0 #ACD8FC, 0 160px 0 #ACD8FC, 0 170px 0 #ACD8FC;
}
.main .cat {
  width: 110px;
  height: 50px;
  position: absolute;
  top: calc(50% - 50px);
  right: 130px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
}
.main .cat .body {
  width: 110px;
  height: 50px;
  background-color: #745260;
  position: absolute;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  animation: body 12s none infinite;
}
.main .cat .head {
  content: "";
  width: 70px;
  height: 35px;
  background-color: #745260;
  position: absolute;
  top: calc(50% - 10px);
  left: -40px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.tail-container {
  position: absolute;
  right: 0;
  bottom: -13px;
  z-index: 3;
}

.tail {
  position: absolute;
  height: 30px;
  width: 14px;
  bottom: -10px;
  right: 0;
  border-bottom-right-radius: 5px;
  background: #745260;
  z-index: 0;
}
.tail > .tail {
  animation: tail 12s none infinite;
  height: 100%;
  width: 14px;
  transform-origin: left;
  border-bottom-left-radius: 20px 20px;
  border-bottom-right-radius: 20px 20px;
  border-top-right-radius: 40px;
}

.ear {
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #745260;
  transform: rotate(-30deg);
  animation: left-ear 12s both infinite;
}
.ear + .ear {
  animation: right-ear 12s both infinite;
  top: -12px;
  left: 30px;
}

.nose {
  position: absolute;
  bottom: 10px;
  left: -10px;
  background-color: #fd6e72;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.whisker-container {
  position: absolute;
  bottom: 5px;
  left: -36px;
  width: 20px;
  height: 10px;
  transform-origin: right;
  animation: left-whisker 12s both infinite;
}
.whisker-container:nth-child(2) {
  left: -20px;
  bottom: 12px;
  transform-origin: right;
  transform: rotate(180deg);
  animation: right-whisker 12s both infinite;
}

.whisker {
  position: absolute;
  top: 0;
  width: 100%;
  border: 1px solid #fdf9de;
  transform-origin: 100% 0;
  transform: rotate(10deg);
}
.whisker:last-child {
  top: 0;
  transform: rotate(-20deg);
}

.perfil {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfil .header {
  display: flex;
  position: relative;
}
.perfil .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfil .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfil .header .btn_tabs {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfil .header .btn_tabs i {
  font-size: 40px;
  margin: 0 30px;
}
.perfil .header .nombreAnimal {
  position: absolute;
  top: 70px;
  right: 40%;
  font-size: 40px;
}
.perfil .adoptadoORadoptar {
  display: flex;
  font-size: 16px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.perfil .adoptadoORadoptar strong {
  margin: 0 10px;
}
.perfil .adoptadoORadoptar span {
  margin: 0 10px;
  color: gray;
}
.perfil .perfilTabsItems {
  display: flex;
  margin-top: 20px;
}
.perfil .descripcion {
  background: whitesmoke;
  padding: 30px;
  width: 40%;
  border-radius: 44px;
  margin: 0 auto;
}
.perfil .descripcion p {
  margin: 10px 0;
}
.perfil .informacion {
  padding: 30px;
  width: 50%;
  background: whitesmoke;
  border-radius: 44px;
  margin: auto;
}
.perfil .informacion table {
  width: 100%;
}
.perfil .informacion tr {
  position: relative;
}
.perfil .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfil .informacion tr td:nth-child(2) {
  text-align: right;
}
.perfil .fotos {
  padding: 20px;
  border-radius: 44px;
  display: flex;
  width: 90%;
  margin: auto;
}
.perfil .fotos img {
  border-radius: 10px;
  margin: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 1px rgba(128, 128, 128, 0.141);
}
.perfil .vacunas {
  width: 70%;
  margin: auto;
  border-radius: 44px;
  background: whitesmoke;
  padding: 40px;
}
.perfil .vacunas .vacuna {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.perfil .vacunas .vacuna:hover .descripcionVacuna {
  display: block;
}
.perfil .vacunas .vacuna .descripcionVacuna {
  display: none;
  position: absolute;
  right: -5px;
  background: #c7c7c7;
  border-radius: 20px;
  color: white;
  max-width: 200px;
  padding: 20px;
}
.perfil .vacunas .vacuna .descripcionVacuna i {
  position: absolute;
  top: -20px;
  font-size: 30px;
  color: #c7c7c7;
}

.perfilUsuario {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfilUsuario .header {
  display: flex;
  position: relative;
}
.perfilUsuario .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfilUsuario .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfilUsuario .header .btn_editar {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfilUsuario .header .btn_editar i {
  font-size: 40px;
  margin: 0 30px;
}
.perfilUsuario .header .nombreUsuario {
  padding: 0 200px;
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.perfilUsuario .informacion {
  margin: 10px auto;
  padding: 30px;
  width: 90%;
  background: whitesmoke;
  border-radius: 44px;
}
.perfilUsuario .informacion table {
  margin: auto;
  width: 50%;
}
.perfilUsuario .informacion tr {
  position: relative;
}
.perfilUsuario .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfilUsuario .informacion tr td:nth-child(2) {
  text-align: right;
}

/*-------------------------------*\
    FORMULARIO NUEVO ANIMALITO 
\*-------------------------------*/
.fielNewAnimalito {
  border: solid 0.5px transparent;
}
.fielNewAnimalito .titulo {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.fielNewAnimalito form {
  width: 95%;
  margin: auto;
}
.fielNewAnimalito form .col-ms-6 {
  padding: 0 30px;
}

.editarAnimalito form {
  margin-left: auto;
  padding: 10px 0px;
  width: 40%;
}
.editarAnimalito .informacionPrevia {
  width: 40%;
}

.informacionPrevia {
  margin-right: auto;
  text-align: center;
}
.informacionPrevia .fotoPerfil {
  margin: 10px auto;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100%;
}
.informacionPrevia .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.informacionPrevia table {
  margin: 10px auto;
  padding: 30px;
}
.informacionPrevia table tr td {
  font-weight: 700;
  width: 50%;
}
.informacionPrevia table tr td:nth-child(1) {
  text-align: left;
}
.informacionPrevia table tr td:nth-child(2) {
  text-align: right;
}

/*-------------------------------*\
  FIN FORMULARIO NUEVO ANIMALITO 
\*-------------------------------*/
/*-------------------------------*\
 FORMULARIO FOTOS NUEVO ANIMALITO 
\*-------------------------------*/
.agregarFotosAnimalitos {
  padding: 0 40px;
}

.fotos {
  position: relative;
  overflow: hidden;
}
.fotos::before {
  content: "";
  width: 50%;
  height: 100px;
  background: #ff7f04;
  position: absolute;
  z-index: -1;
  bottom: -50%;
  right: 0;
  transform: skew(-60deg);
  -webkit-transform: skew(-60deg);
  -o-transform: skew(-60deg);
  -ms-transform: skew(-60deg);
  -moz-transform: skew(-60deg);
}

.dataAnimalito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
}
.dataAnimalito table {
  padding: 15px;
  border: solid 1px #ff7f04;
  border-radius: 10px;
}
.dataAnimalito table th {
  text-align: center;
  font-size: 20px;
  padding: 10px;
}
.dataAnimalito table td {
  border-top: 1px solid #ff7f04;
  padding: 10px;
}

#imagesBox {
  margin: 20px 0;
  min-height: 200px;
  position: relative;
}
#imagesBox img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  background: black;
  margin: 10px 5px;
  border-radius: 10px;
}
#imagesBox h3 {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

.divImage {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 3px;
  display: inline-block;
}

/*-------------------------------*\
FINFORMULARIO FOTOS NUEVO ANIMALITO 
\*-------------------------------*/
.form_2, .form_3 {
  border: solid 0.5px transparent;
  display: none;
}

/*-------------------------------*\
 FORMULARIO VACUNAS DEL ANIMALITO 
\*-------------------------------*/
.form_3 .titulo {
  margin-top: 20px;
}
.form_3 form {
  padding: 20px;
}
.form_3 .vacunasBox {
  margin: 20px 0;
  width: 50%;
}
.form_3 .vacunasBox label {
  margin-left: 30px;
}
.form_3 .infoVacunasSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  height: 250px;
  width: 50%;
  border-radius: 44px;
  background: whitesmoke;
  padding: 20px;
}

/*-------------------------------*\
FINFORMULARIO VACUNAS DEL ANIMALITO 
\*-------------------------------*/
.galeriaCRUD {
  display: flex;
}
.galeriaCRUD .fotoPerfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  overflow: hidden;
}
.galeriaCRUD .fotoPerfil img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}

.divImage {
  margin: 10px 20px;
  width: 170px;
  height: 170px;
  overflow: hidden;
  border-radius: 30px;
}
.divImage:hover .buttonsImg {
  bottom: 0px;
}
.divImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.divImage .buttonsImg {
  height: 40px;
  position: absolute;
  left: 0;
  transition: 1s;
  -webkit-transition: 1s;
  -o-transition: 1s;
  -moz-transition: 1s;
  bottom: -40px;
  width: 100%;
  background: rgba(255, 255, 255, 0.534);
}
.divImage .buttonsImg span {
  cursor: pointer;
  display: block;
  width: 50%;
  padding: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
}

.naw80 {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsAction {
  width: 30%;
  padding: 10px 0;
  color: white;
}
.buttonsAction button {
  margin: 5px 1px;
}

.deleteImg {
  line-height: 20px;
  padding: 10px;
  height: fit-content;
  position: absolute;
  top: 0;
  right: -7px;
  font-size: 20px;
  background: #ff7f04;
  border-radius: 50%;
  color: white;
  z-index: 2;
  cursor: pointer;
}

.divTableDatos {
  margin: 0 auto;
  width: 90%;
  padding: 5%;
  box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.5);
  background: white;
  border-radius: 44px;
}
.divTableDatos .navTable {
  display: flex;
}
.divTableDatos .navTable .buttonsTable {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divTableDatos .navTable .nombreIndicador {
  min-width: 60%;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}
.divTableDatos .navTable .buscarTable {
  width: 10%;
  font-size: 40px;
  text-align: right;
}
.divTableDatos table {
  width: 100%;
  border-spacing: 0 20px;
  border-collapse: inherit;
}
.divTableDatos table thead {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table thead tr, .divTableDatos table thead td, .divTableDatos table thead th {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table tbody tr {
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
}

/*-------------------- ADOPTAR -------------------- */

/*# sourceMappingURL=adoptar.css.map */
