/*-------------------- DONAR -------------------- */
/*------------------------------*\
    $COLORES
\*-------------------------------*/
/**
    Colores principales de la pagina
**/
/** 
    Colores de redes sociales
**/
/** 
    Colores de animales 
**/
.container-donar {
  width: 100%;
  height: 100%;
  display: flex;
}

.containertitulo {
  width: 100%;
  height: 100%;
}

.donaciones {
  width: 130%;
  background-color: white;
  padding: 25px;
  margin-left: 50px;
  border-radius: 5px;
  color: black;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  text-align: justify;
}
.donaciones h3, .donaciones h1 {
  text-align: center;
}

.col-cg {
  padding: 0;
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

.col-cg:before {
  content: "";
  width: 80%;
  height: 55%;
  position: absolute;
  z-index: -2;
  background: #ff7f04;
  border-radius: 20% 20% 20% 20%;
}

.doscolumnas {
  width: 100%;
  height: 100%;
  column-count: 2;
  margin-top: 10px !important;
  margin: auto;
}

.containerquedonar {
  width: 100%;
  height: 150px;
  padding: 0;
}

.quedonar1 {
  background-color: whitesmoke;
  height: 150px;
  width: 260px;
  margin-left: 40px;
  padding: 5px;
  float: left;
}
.quedonar1 p {
  padding: 5px;
  text-align: justify;
}

.quedonar2 {
  background-color: whitesmoke;
  height: 150px;
  width: 260px;
  margin-left: 10%;
  padding: 5px;
  float: left;
}
.quedonar2 p {
  padding: 5px;
  text-align: justify;
}

.quedonarCont {
  height: 140px;
  width: 50%;
  float: left;
}

.donacionesAlimentos {
  width: 100%;
  background-color: white;
  padding: 25px;
  margin-left: 50px;
  border-radius: 44px;
  color: black;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  text-align: justify;
}
.donacionesAlimentos h3, .donacionesAlimentos h1 {
  text-align: center;
}

.grisColor {
  background: whitesmoke;
  background-color: whitesmoke;
  padding: 15px;
}

.boxInputGris input[type=submit] {
  width: 100%;
  border: solid 0.5px grey;
  outline: none;
  padding: 10px;
  border-radius: 5px;
  background: #9e9e9e;
  padding: 10px;
  color: white;
  border-radius: 10px;
  border: solid 1px transparent !important;
  outline: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  -moz-transition: 0.5s;
  cursor: pointer;
}
.boxInputGris input[type=submit]:hover {
  background: white;
  border-color: #9e9e9e !important;
  color: #9e9e9e;
}

.containerCat {
  position: relative;
  margin: auto;
  width: 520px;
  height: 240px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.containerCat div, .containerCat ul, .containerCat li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
}

.containerCat .plane {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 70%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  animation: fly 1s infinite;
  -webkit-animation: fly 1s infinite;
}

.plane .p-body {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  right: 0;
  overflow: visible;
}

.plane .p-body .p-parts {
  position: absolute;
  margin: auto;
  width: 100%;
  height: 60%;
  bottom: 0;
  right: 0;
}

.p-parts .part-one, .p-parts .part-two, .p-parts .part-three {
  float: left;
  width: 30%;
  background: rgba(255, 125, 4, 0.753);
  height: 100%;
}

.p-parts .part-one {
  border-radius: 25% 0 0 85%;
  width: 35%;
}

.p-parts .part-one .po-up, .p-parts .part-one .po-middle, .p-parts .part-one .po-down,
.part-two .pt-wing {
  position: absolute;
  background: #ff7f04;
  margin: auto;
  z-index: 0;
}

.p-parts .part-one .po-up {
  height: 30%;
  width: 55%;
  border-radius: 15% 95% 0 0;
  right: 20%;
  bottom: 100%;
}

.p-parts .part-one .po-middle {
  height: 10%;
  width: 60%;
  border-radius: 25%;
  left: 0%;
  bottom: 50%;
}

.p-parts .part-one .po-down {
  height: 15%;
  width: 20%;
  border-radius: 0 0 50% 50%;
  right: 10%;
  top: 100%;
  background: #444;
}

.p-parts .part-two {
  height: 60%;
  top: 41%;
  width: 25%;
}

.p-parts .part-two .pt-wing {
  height: 25%;
  width: 100%;
  border-radius: 0 0 70% 25%;
  bottom: 30%;
}

.p-parts .part-three {
  border-radius: 0 45% 45% 0;
  overflow: visible;
}

.p-parts .part-three .roll {
  display: block;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #444;
  z-index: 2;
  top: 102%;
}

.helix {
  position: absolute;
  margin: auto;
  height: 100%;
  width: 8%;
  right: 3%;
}

.helix .h-base {
  display: block;
  position: absolute;
  border-radius: 0 50% 50% 0;
  background: #444;
  margin: auto;
  top: 40%;
  height: 25%;
  width: 100%;
  z-index: 2;
}

.helix .h-rotor {
  display: block;
  border-radius: 50%;
  background: #333;
  margin: auto;
  height: 100%;
  width: 40%;
  z-index: 1;
  animation: h-fly 1s infinite;
  -webkit-animation: h-fly 1s infinite;
}

.cat {
  background: #BB8963;
  height: 30%;
  top: 35%;
  width: 16%;
  left: 40%;
  z-index: 1;
}

.cat:before {
  width: 0;
  height: 0;
  border-left: 0px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #BB8963;
  top: -15px;
  left: 0;
  position: absolute;
  content: "";
}

.cat:after {
  width: 0;
  height: 0;
  border-right: 0px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #BB8963;
  top: -15px;
  right: 0;
  position: absolute;
  content: "";
}

.cat .eyes {
  position: absolute;
  height: 6px;
  width: 6px;
  background: #FFF;
  border-radius: 100%;
  top: 12px;
}

.cat .eyes.left {
  left: 6px;
}

.cat .eyes.right {
  right: 6px;
}

.cat .mouth {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #DB4073;
  border-radius: 0 0 50% 50%;
  top: 20px;
  margin: auto;
  left: 0;
  right: 0;
}

.plane .p-message {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  left: 0;
}

.plane .p-message .rope {
  display: block;
  position: absolute;
  border: 1px solid #333;
  left: 90%;
  bottom: 50%;
  width: 10%;
}

.plane .p-message ul {
  position: absolute;
  border-right: 8px solid #333;
  width: 92%;
  height: 25%;
  bottom: 35%;
}

.plane .p-message ul li {
  float: right;
  height: 40px;
  background: #FFF;
  width: 33%;
  text-align: center;
  line-height: 2.85em;
  font-weight: 600;
  font-size: 0.75em;
  color: #777;
}

.plane .p-message ul li.middle {
  top: 0px;
  background: #FAFAFA;
  animation: m-fly 1s infinite;
  -webkit-animation: m-fly 1s infinite;
}

@keyframes fly {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes fly /*Safari and Chrome*/ {
  0% {
    top: 0px;
  }
  25% {
    top: 10px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 10px;
  }
  100% {
    top: 0%;
  }
}
@keyframes m-fly {
  0% {
    top: 0px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes m-fly /*Safari and Chrome*/ {
  0% {
    top: 0px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 0px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0%;
  }
}
@-webkit-keyframes m-fly /*Safari and Chrome*/ {
  0% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
  10% {
    height: 90%;
    margin-top: 8px;
    background: #111;
  }
  20% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
  30% {
    height: 90%;
    margin-top: 8px;
    background: #111;
  }
  40% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
  50% {
    height: 90%;
    margin-top: 8px;
    background: #111;
  }
  60% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
  70% {
    height: 90%;
    margin-top: 8px;
    background: #111;
  }
  80% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
  90% {
    height: 90%;
    margin-top: 8px;
    background: #111;
  }
  100% {
    height: 100%;
    margin-top: 0;
    background: #333;
  }
}
/*-------------------------------*\
             CAJAGATO 
\*-------------------------------*/
.cajaGatito {
  width: 200px;
  background-color: #ffff9d;
  position: relative;
  height: 120px;
  background-image: radial-gradient(#f7dd5e 5px, transparent 5px);
  background-size: 35px 35px;
  background-position: -5px -12px;
  top: 60px;
}
.cajaGatito .b1, .cajaGatito .b2 {
  background-color: #f7dd5e;
  height: 8px;
  width: 50px;
  position: relative;
}
.cajaGatito .b1 {
  right: 48px;
  bottom: -8px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
}
.cajaGatito .b2 {
  left: 198px;
  bottom: 8px;
  transform-origin: left;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
}
.cajaGatito .gato {
  position: relative;
  bottom: 40px;
  left: 40px;
  z-index: -1;
  transition: 1s;
}
.cajaGatito .gato .cara {
  height: 140px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
}
.cajaGatito .gato .cara .abajo {
  height: 40px;
  background-color: white;
  width: 140px;
  border-radius: 0 0 140px 140px;
  position: relative;
  top: 60px;
  right: 10px;
}
.cajaGatito .gato .cara .oreja-d, .cajaGatito .gato .cara .oreja-i {
  height: 0;
  width: 0;
  border-bottom: 35px solid white;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: relative;
}
.cajaGatito .gato .cara .oreja-d {
  bottom: 55px;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
}
.cajaGatito .gato .cara .oreja-i {
  bottom: 90px;
  left: 87px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
}
.cajaGatito .gato .cara .ojo-d, .cajaGatito .gato .cara .ojo-i {
  height: 15px;
  width: 13px;
  position: relative;
}
.cajaGatito .gato .cara .ojo-i {
  bottom: 85px;
  left: 25px;
}
.cajaGatito .gato .cara .ojo-d {
  bottom: 70px;
  left: 83px;
}
.cajaGatito .gato .cara .ojo {
  background-color: #434343;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: bink 2s infinite;
  -webkit-animation: bink 2s infinite;
  -o-animation: bink 2s infinite;
  -moz-animation: bink 2s infinite;
}
.cajaGatito .gato .cara .nariz {
  width: 0;
  height: 0;
  border-top: 10px solid pink;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  bottom: 72px;
  left: 48px;
}
.cajaGatito .gato .gorro {
  height: 0;
  width: 0;
  border-bottom: 100px solid #ff5c9f;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  position: relative;
  bottom: 220px;
  left: 40px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}
.cajaGatito .gato .gorro .estrella {
  position: relative;
}
.cajaGatito .gato .gorro .estrella .d1, .cajaGatito .gato .gorro .estrella .d2, .cajaGatito .gato .gorro .estrella .d3, .cajaGatito .gato .gorro .estrella .d4 {
  background: #ffff9d;
  height: 40px;
  width: 5px;
  position: relative;
}
.cajaGatito .gato .gorro .estrella .d1 {
  bottom: 20px;
}
.cajaGatito .gato .gorro .estrella .d2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  bottom: 60px;
}
.cajaGatito .gato .gorro .estrella .d3 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  bottom: 100px;
}
.cajaGatito .gato .gorro .estrella .d4 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  bottom: 140px;
}
.cajaGatito:hover .gato {
  transform: translateY(-55px);
  -webkit-transform: translateY(-55px);
  -o-transform: translateY(-55px);
  -ms-transform: translateY(-55px);
  -moz-transform: translateY(-55px);
}

@keyframes bink {
  20% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
  }
}
/*-------------------------------*\
           FINCAJAGATO 
\*-------------------------------*/
/*-------------------- DONAR -------------------- */

/*# sourceMappingURL=dona.css.map */
