/*-------------------- INDEX -------------------- */
/*------------------------------*\
    $COLORES
\*-------------------------------*/
/**
    Colores principales de la pagina
**/
/** 
    Colores de redes sociales
**/
/** 
    Colores de animales 
**/
/*-------------------------------*\
              PERRITO
\*-------------------------------*/
.perrito {
  background-color: #fdb44e;
  height: 75px;
  width: 120px;
  position: absolute;
  top: 63%;
  right: 30%;
  border-radius: 0px 0px 0px 120px;
}
@media only screen and (max-width: 500px) {
  .perrito {
    right: 50%;
  }
}
.perrito .cuerpo-perrito {
  background-color: #fdb44e;
  height: 100px;
  width: 180px;
  position: relative;
  top: 55px;
  left: 70px;
  border-radius: 0px 0px 0px 60px;
}
.perrito .pata1, .perrito .pata2, .perrito .pata3, .perrito .pata4 {
  background: #fdb44e;
  height: 50px;
  width: 18px;
  position: relative;
  padding: 0 !important;
  margin: 0 !important;
}
.perrito .pata1 {
  left: 100px;
  top: 48px;
}
.perrito .pata2 {
  left: 130px;
  bottom: 2px;
}
.perrito .pata3 {
  left: 205px;
  bottom: 50px;
  background-color: rgba(151, 89, 2, 0.5);
  z-index: -1;
}
.perrito .pata4 {
  left: 232px;
  bottom: 100px;
}
.perrito .cola {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 100px solid #fdb44e;
  position: relative;
  bottom: 320px;
  left: 230px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  transform-origin: bottom;
  animation: moverCola 1s infinite;
  -webkit-animation: moverCola 1s infinite;
  -o-animation: moverCola 1s infinite;
  -moz-animation: moverCola 1s infinite;
}
.perrito .oreja {
  background-color: rgba(151, 89, 2, 0.8);
  width: 45px;
  height: 90px;
  border-radius: 0px 0px 100px 100px;
  position: relative;
  left: 75px;
  bottom: 400px;
}
.perrito .nariz {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  position: relative;
  right: 2.5px;
  bottom: 492px;
}
.perrito .ojo {
  background: black;
  height: 10px;
  width: 10px;
  border-radius: 100%;
  position: relative;
  bottom: 490px;
  left: 50px;
}
.perrito .lengua {
  background-color: tomato;
  height: 20px;
  width: 8px;
  border-radius: 10px;
  position: relative;
  left: 23px;
  bottom: 470px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  z-index: -1;
  animation: moverLengua 1s infinite;
  -webkit-animation: moverLengua 1s infinite;
  -o-animation: moverLengua 1s infinite;
  -moz-animation: moverLengua 1s infinite;
}
@keyframes moverLengua {
  50% {
    transform: rotate(45deg) translateY(2.5px);
    -webkit-transform: rotate(45deg) translateY(2.5px);
    -o-transform: rotate(45deg) translateY(2.5px);
    -ms-transform: rotate(45deg) translateY(2.5px);
    -moz-transform: rotate(45deg) translateY(2.5px);
  }
}
@keyframes moverCola {
  50% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
  }
}

/*-------------------------------*\
            FINPERRITO
\*-------------------------------*/
/*-------------------------------*\
               PANDA 
\*-------------------------------*/
.panda {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  height: 120px;
  width: 80px;
  background-color: white;
  border: 5px solid black;
  border-radius: 30px;
}
.panda .carita {
  position: relative;
  background-color: white;
  border: 5px solid black;
  height: 90px;
  width: 110px;
  border-radius: 50%;
  bottom: 30px;
  right: 20px;
}
.panda .carita .oreja-d, .panda .carita .oreja-i {
  position: relative;
  background-color: black;
  height: 25px;
  width: 40px;
  border-radius: 0px 0px 40px 40px;
}
.panda .carita .oreja-d {
  transform: rotate(145deg);
  -webkit-transform: rotate(145deg);
  -o-transform: rotate(145deg);
  -ms-transform: rotate(145deg);
  -moz-transform: rotate(145deg);
  bottom: 13px;
  right: 8px;
}
.panda .carita .oreja-i {
  transform: rotate(-145deg);
  -webkit-transform: rotate(-145deg);
  -o-transform: rotate(-145deg);
  -ms-transform: rotate(-145deg);
  -moz-transform: rotate(-145deg);
  left: 68px;
  bottom: 38px;
}
.panda .carita .ojo-d, .panda .carita .ojo-i {
  position: relative;
  background-color: black;
  height: 33px;
  width: 28px;
  border-radius: 50%;
}
.panda .carita .ojo-d .pupila, .panda .carita .ojo-i .pupila {
  position: relative;
  top: 8px;
  left: 7px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
}
.panda .carita .ojo-d {
  bottom: 30px;
  left: 10px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
}
.panda .carita .ojo-i {
  bottom: 63px;
  left: 62px;
  transform: rotate(25deg);
  -webkit-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
}
.panda .carita .nariz {
  position: relative;
  bottom: 65px;
  left: 42px;
  width: 15px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
  border-radius: 50%;
}
.panda .mano-i, .panda .mano-d {
  position: relative;
  background-color: black;
  height: 25px;
  width: 43px;
  border-radius: 30px;
}
.panda .mano-d {
  bottom: 43px;
  right: 43px;
  animation: panda-saludo 2s infinite;
  -webkit-animation: panda-saludo 2s infinite;
  -o-animation: panda-saludo 2s infinite;
  -moz-animation: panda-saludo 2s infinite;
  transform-origin: right;
}
.panda .mano-i {
  bottom: 68px;
  right: -70px;
}
.panda .pie-d, .panda .pie-i {
  position: relative;
  background-color: black;
  width: 17px;
  height: 25px;
  border-radius: 0px 0px 30px 30px;
}
.panda .pie-d {
  bottom: 30px;
  left: 15px;
}
.panda .pie-i {
  bottom: 55px;
  left: 39px;
}
.panda .sombra {
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
  height: 30px;
  width: 100px;
  border-radius: 50%;
  bottom: 50px;
  right: 15px;
}

@keyframes panda-saludo {
  50% {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
  }
}
/*-------------------------------*\
             FINPANDA 
\*-------------------------------*/
/*-------------------------------*\
           INDEXPAISAJE
\*-------------------------------*/
.inicio {
  width: 100%;
  height: 700px;
  background: lightblue;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 4fr 1fr;
  grid-auto-rows: minmax(20px, auto);
  justify-items: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 500px) {
  .inicio {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
}
.inicio .cols {
  padding: 20px;
}
.inicio .cols:nth-child(2) {
  text-align: center;
  z-index: 1;
}
.inicio .cols:last-child {
  background: green;
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  height: 70%;
  margin: 48px 0 0 0;
}
@media only screen and (max-width: 500px) {
  .inicio .cols:last-child {
    grid-column-start: 1;
    grid-column-end: auto;
  }
}

/*-------------------------------*\
          FININDEXPAISAJE
\*-------------------------------*/
/*-------------------------------*\
            INDEXADOPTA
\*-------------------------------*/
.adopta-index {
  width: 100%;
  padding: 50px;
}
.adopta-index .marg {
  margin: 10px 20px;
}
.adopta-index .row {
  justify-content: center;
  align-items: center;
}
.adopta-index .titulo {
  margin: 0 0 70px 0 !important;
}

/*-------------------------------*\
          FININDEXADOPTA
\*-------------------------------*/
/*-------------------------------*\
             INDEXDONA
\*-------------------------------*/
.dona-ind {
  min-height: 500px;
  height: fit-content;
  width: 100%;
  margin: 20px 0;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .dona-ind {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-auto-rows: auto;
  }
}
.dona-ind div:nth-child(1) {
  padding: 20%;
}
.dona-ind .col-cg {
  padding: 0;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 500px) {
  .dona-ind .col-cg {
    height: 700px;
    border-radius: 50%;
  }
}
.dona-ind .col-cg div {
  padding: 0 !important;
}
.dona-ind .col-cg:before {
  content: "";
  width: 100%;
  height: 75%;
  position: absolute;
  z-index: -2;
  background: #ff7f04;
  border-radius: 20% 0 0 20%;
}

/*-------------------------------*\
           FININDEXDONA
\*-------------------------------*/
/*-------------------------------*\
       MENSAJEAMBIENTEINDEX
\*-------------------------------*/
.message {
  position: relative;
  padding: 20px;
  width: 80%;
  box-shadow: 0px 0px 10px black;
  margin: 20px auto;
  grid-auto-rows: minmax(100px, 200px);
  grid-auto-columns: minmax(100px, 320px);
  grid-template-areas: "inte inte info info" "inte inte info info";
}
.message::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: lightgreen;
  border-radius: 0 50%;
}

.media {
  grid-area: inte;
  padding: 20px;
  position: relative;
}

.info-message {
  align-items: center;
  width: 100%;
  align-self: center;
  justify-content: center;
  height: 100%;
  z-index: 2;
  grid-area: info;
  margin: auto;
  padding: 10% 20% 10% 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/*-------------------------------*\
      FINMENSAJEAMBIENTEINDEX
\*-------------------------------*/
/*-------------------------------*\
             CAJAGATO 
\*-------------------------------*/
.cajaGatito {
  width: 200px;
  background-color: #ffff9d;
  position: relative;
  height: 120px;
  background-image: radial-gradient(#f7dd5e 5px, transparent 5px);
  background-size: 35px 35px;
  background-position: -5px -12px;
  top: 60px;
}
.cajaGatito .b1, .cajaGatito .b2 {
  background-color: #f7dd5e;
  height: 8px;
  width: 50px;
  position: relative;
}
.cajaGatito .b1 {
  right: 48px;
  bottom: -8px;
  transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
}
.cajaGatito .b2 {
  left: 198px;
  bottom: 8px;
  transform-origin: left;
  transform: rotate(20deg);
  -webkit-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
}
.cajaGatito .gato {
  position: relative;
  bottom: 40px;
  left: 40px;
  z-index: -1;
  transition: 1s;
}
.cajaGatito .gato .cara {
  height: 140px;
  width: 120px;
  background-color: white;
  border-radius: 50%;
}
.cajaGatito .gato .cara .abajo {
  height: 40px;
  background-color: white;
  width: 140px;
  border-radius: 0 0 140px 140px;
  position: relative;
  top: 60px;
  right: 10px;
}
.cajaGatito .gato .cara .oreja-d, .cajaGatito .gato .cara .oreja-i {
  height: 0;
  width: 0;
  border-bottom: 35px solid white;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: relative;
}
.cajaGatito .gato .cara .oreja-d {
  bottom: 55px;
  transform: rotate(-40deg);
  -webkit-transform: rotate(-40deg);
  -o-transform: rotate(-40deg);
  -ms-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
}
.cajaGatito .gato .cara .oreja-i {
  bottom: 90px;
  left: 87px;
  transform: rotate(40deg);
  -webkit-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
}
.cajaGatito .gato .cara .ojo-d, .cajaGatito .gato .cara .ojo-i {
  height: 15px;
  width: 13px;
  position: relative;
}
.cajaGatito .gato .cara .ojo-i {
  bottom: 85px;
  left: 25px;
}
.cajaGatito .gato .cara .ojo-d {
  bottom: 70px;
  left: 83px;
}
.cajaGatito .gato .cara .ojo {
  background-color: #434343;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: bink 2s infinite;
  -webkit-animation: bink 2s infinite;
  -o-animation: bink 2s infinite;
  -moz-animation: bink 2s infinite;
}
.cajaGatito .gato .cara .nariz {
  width: 0;
  height: 0;
  border-top: 10px solid pink;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  bottom: 72px;
  left: 48px;
}
.cajaGatito .gato .gorro {
  height: 0;
  width: 0;
  border-bottom: 100px solid #ff5c9f;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  position: relative;
  bottom: 220px;
  left: 40px;
  transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
}
.cajaGatito .gato .gorro .estrella {
  position: relative;
}
.cajaGatito .gato .gorro .estrella .d1, .cajaGatito .gato .gorro .estrella .d2, .cajaGatito .gato .gorro .estrella .d3, .cajaGatito .gato .gorro .estrella .d4 {
  background: #ffff9d;
  height: 40px;
  width: 5px;
  position: relative;
}
.cajaGatito .gato .gorro .estrella .d1 {
  bottom: 20px;
}
.cajaGatito .gato .gorro .estrella .d2 {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  bottom: 60px;
}
.cajaGatito .gato .gorro .estrella .d3 {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  bottom: 100px;
}
.cajaGatito .gato .gorro .estrella .d4 {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  bottom: 140px;
}
.cajaGatito:hover .gato {
  transform: translateY(-55px);
  -webkit-transform: translateY(-55px);
  -o-transform: translateY(-55px);
  -ms-transform: translateY(-55px);
  -moz-transform: translateY(-55px);
}

@keyframes bink {
  20% {
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -moz-transform: scaleY(0);
  }
}
/*-------------------------------*\
           FINCAJAGATO 
\*-------------------------------*/
.nube {
  width: 250px;
  height: 65px;
  background: white;
  border-radius: 30px;
  color: black;
  position: relative;
  line-height: 50px;
  display: inline-block;
  font-weight: 700;
  margin: 10px;
  font-size: 18px;
  animation: moverNube 3s infinite;
}
.nube:hover {
  color: blue;
}
.nube .bolita {
  padding: 40px 40px;
  z-index: -1;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: -50%;
  background: white;
}
.nube .bolita:nth-child(1) {
  left: 25px;
}
.nube .bolita:nth-child(2) {
  left: 90px;
}
.nube .bolita:nth-child(3) {
  left: 150px;
}

@keyframes moverNube {
  0% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
    -o-transform: translate(5px);
    -ms-transform: translate(5px);
    -moz-transform: translate(5px);
  }
  50% {
    transform: translate(-5px);
    -webkit-transform: translate(-5px);
    -o-transform: translate(-5px);
    -ms-transform: translate(-5px);
    -moz-transform: translate(-5px);
  }
  100% {
    transform: translate(5px);
    -webkit-transform: translate(5px);
    -o-transform: translate(5px);
    -ms-transform: translate(5px);
    -moz-transform: translate(5px);
  }
}
@keyframes head {
  0% {
    transform: rotate(0);
  }
  6.6666666667% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-14deg);
  }
  40% {
    transform: rotate(-7deg);
  }
  46.6666666667% {
    transform: rotate(-14deg);
  }
  60% {
    transform: rotate(-7deg);
  }
  73.3333333333% {
    transform: rotate(0);
  }
  80% {
    transform: rotate(0);
  }
}
@keyframes mouth {
  0% {
    transform: translateX(0);
  }
  6.6666666667% {
    transform: translateX(0);
  }
  13.3333333333% {
    transform: translateX(35%);
  }
  20% {
    transform: translateX(35%);
  }
  26.6666666667% {
    transform: translateX(35%);
  }
  33.3333333333% {
    transform: translateX(0) translateY(-5%);
  }
}
@keyframes nose {
  0% {
    transform: translate(0);
  }
  6.6666666667% {
    transform: translate(0);
  }
  13.3333333333% {
    transform: translateX(100%);
  }
  26.6666666667% {
    transform: translateX(100%);
  }
  33.3333333333% {
    transform: translateX(0) translateY(-15%);
  }
}
@keyframes body {
  0% {
    transform: translate(0);
  }
  6.6666666667% {
    transform: translateY(3%);
  }
  13.3333333333% {
    transform: translate(0);
  }
  20% {
    transform: translate(0);
  }
  26.6666666667% {
    transform: translateY(2%);
  }
  33.3333333333% {
    transform: translateY(0);
  }
}
@keyframes mane {
  0% {
    transform: translate(0);
  }
  6.6666666667% {
    transform: translateY(5%);
  }
  13.3333333333% {
    transform: translate(0);
  }
  20% {
    transform: translate(0);
  }
  26.6666666667% {
    transform: translateY(3%);
  }
  33.3333333333% {
    transform: translateY(0);
  }
}
@keyframes face {
  0% {
    transform: translate(0);
  }
  6.6666666667% {
    transform: translate(0);
  }
  13.3333333333% {
    transform: translateX(15%);
  }
  20% {
    transform: translateX(15%) translateY(0);
  }
  26.6666666667% {
    transform: translateX(15%) translateY(0);
  }
  33.3333333333% {
    transform: translateX(0) translateY(-15%);
  }
  40% {
    transform: translateX(0) translateY(-15%);
  }
  46.6666666667% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes left-eye {
  2.6666666667% {
    transform: scaleY(1);
  }
  3.3333333333% {
    transform: scaleY(0.3);
  }
  4% {
    transform: scaleY(1);
  }
  6.6666666667% {
    transform: translateX(0);
  }
  9.3333333333% {
    transform: scaleY(1) translateX(75%);
  }
  10% {
    transform: scaleY(0.3) translateX(75%);
  }
  10.6666666667% {
    transform: scaleY(1) translateX(75%);
  }
  13.3333333333% {
    transform: translateX(150%);
  }
  22% {
    transform: scaleY(1) translateX(150%);
  }
  22.6666666667% {
    transform: scaleY(0.3) translateX(150%);
  }
  23.3333333333% {
    transform: scaleY(1) translateX(150%);
  }
  25.3333333333% {
    transform: scaleY(1) translateX(150%);
  }
  26% {
    transform: scaleY(0.3) translateX(150%);
  }
  26.6666666667% {
    transform: scaleY(1) translateX(150%);
  }
  33.3333333333% {
    transform: translateX(0) translateY(-170%);
  }
  36% {
    transform: scaleY(1) translateY(-170%);
  }
  36.6666666667% {
    transform: scaleY(0.3) translateY(-170%);
  }
  37.3333333333% {
    transform: scaleY(1) translateY(-170%);
  }
  38% {
    transform: scaleY(1) translateY(-170%);
  }
  38.6666666667% {
    transform: scaleY(0.3) translateY(-170%);
  }
  39.3333333333% {
    transform: scaleY(1) translateY(-170%);
  }
  53.3333333333% {
    transform: translateY(0);
  }
  65.3333333333% {
    transform: scaleY(1) translateY(0);
  }
  66% {
    transform: scaleY(0.3) translateY(0);
  }
  66.6666666667% {
    transform: scaleY(1) translateY(0);
  }
  70% {
    transform: scaleY(1) translateY(0);
  }
  70.6666666667% {
    transform: scaleY(0.3) translateY(0);
  }
  71.3333333333% {
    transform: scaleY(1) translateY(0);
  }
}
@keyframes right-eye {
  2.6666666667% {
    transform: scaleY(1);
  }
  3.3333333333% {
    transform: scaleY(0.3);
  }
  4% {
    transform: scaleY(1);
  }
  6.6666666667% {
    transform: translateX(0);
  }
  9.3333333333% {
    transform: scaleY(1) translateX(75%);
  }
  10% {
    transform: scaleY(0.3) translateX(75%);
  }
  10.6666666667% {
    transform: scaleY(1) translateX(75%);
  }
  13.3333333333% {
    transform: translateX(150%);
  }
  22% {
    transform: scaleY(1) translateX(150%);
  }
  22.6666666667% {
    transform: scaleY(0.3) translateX(150%);
  }
  23.3333333333% {
    transform: scaleY(1) translateX(150%);
  }
  25.3333333333% {
    transform: scaleY(1) translateX(150%);
  }
  26% {
    transform: scaleY(0.3) translateX(150%);
  }
  26.6666666667% {
    transform: scaleY(1) translateX(150%);
  }
  33.3333333333% {
    transform: translateX(0) translateY(-170%);
  }
  36% {
    transform: scaleY(1) translateY(-170%);
  }
  36.6666666667% {
    transform: scaleY(0.3) translateY(-170%);
  }
  37.3333333333% {
    transform: scaleY(1) translateY(-170%);
  }
  38% {
    transform: scaleY(1) translateY(-170%);
  }
  38.6666666667% {
    transform: scaleY(0.3) translateY(-170%);
  }
  39.3333333333% {
    transform: scaleY(1) translateY(-170%);
  }
  53.3333333333% {
    transform: translateY(0);
  }
  65.3333333333% {
    transform: scaleY(1) translateY(0);
  }
  66% {
    transform: scaleY(0.3) translateY(0);
  }
  66.6666666667% {
    transform: scaleY(1) translateY(0);
  }
  70% {
    transform: scaleY(1) translateY(0);
  }
  70.6666666667% {
    transform: scaleY(0.3) translateY(0);
  }
  71.3333333333% {
    transform: scaleY(1) translateY(0);
  }
}
@keyframes tongue {
  46.6666666667% {
    transform: translateY(0);
  }
  53.3333333333% {
    transform: translateY(100%) rotate(10deg);
  }
  73.3333333333% {
    transform: translateY(100%) rotate(10deg);
  }
  80% {
    transform: translateY(0);
  }
}
@keyframes mouth-cover-left {
  40% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(90deg);
  }
  73.3333333333% {
    transform: rotate(90deg);
  }
  86.6666666667% {
    transform: rotate(0);
  }
}
@keyframes mouth-cover-right {
  40% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-90deg);
  }
  73.3333333333% {
    transform: rotate(-90deg);
  }
  86.6666666667% {
    transform: rotate(0);
  }
}
@keyframes tail {
  6.6666666667% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(30deg);
  }
  13.3333333333% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(0);
  }
  26.6666666667% {
    transform: rotate(30deg);
  }
  46.6666666667% {
    transform: rotate(30deg);
  }
  48.3333333333% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(28deg);
  }
  50.8333333333% {
    transform: rotate(0);
  }
  51.6666666667% {
    transform: rotate(28deg);
  }
  52.5% {
    transform: rotate(0);
  }
  53.3333333333% {
    transform: rotate(28deg);
  }
  54.1666666667% {
    transform: rotate(0);
  }
  55% {
    transform: rotate(28deg);
  }
  55.8333333333% {
    transform: rotate(0);
  }
  56.6666666667% {
    transform: rotate(28deg);
  }
  57.5% {
    transform: rotate(0);
  }
  58.3333333333% {
    transform: rotate(28deg);
  }
  59.1666666667% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(28deg);
  }
  60.8333333333% {
    transform: rotate(0);
  }
  61.6666666667% {
    transform: rotate(28deg);
  }
  62.5% {
    transform: rotate(0);
  }
  63.3333333333% {
    transform: rotate(28deg);
  }
  64.1666666667% {
    transform: rotate(0);
  }
  65% {
    transform: rotate(28deg);
  }
  65.8333333333% {
    transform: rotate(0);
  }
  66.6666666667% {
    transform: rotate(28deg);
  }
  67.5% {
    transform: rotate(0);
  }
  68.3333333333% {
    transform: rotate(28deg);
  }
  69.1666666667% {
    transform: rotate(0);
  }
  70% {
    transform: rotate(28deg);
  }
  70.8333333333% {
    transform: rotate(0);
  }
  71.6666666667% {
    transform: rotate(28deg);
  }
  72.5% {
    transform: rotate(0);
  }
}
@keyframes left-ear {
  0% {
    transform: rotate(6deg);
  }
  6.6666666667% {
    transform: rotate(6deg);
  }
  13.3333333333% {
    transform: rotate(15deg);
  }
  26.6666666667% {
    transform: rotate(15deg);
  }
  33.3333333333% {
    transform: rotate(30deg);
  }
  40% {
    transform: rotate(30deg);
  }
  46.6666666667% {
    transform: rotate(0deg);
  }
  53.3333333333% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(15deg);
  }
  80% {
    transform: rotate(15deg);
  }
  93.3333333333% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotateZ(6deg);
  }
}
@keyframes right-ear {
  0% {
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  6.6666666667% {
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  13.3333333333% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  26.6666666667% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  33.3333333333% {
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  36.6666666667% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  37.3333333333% {
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  38% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  40.6666666667% {
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  41.3333333333% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  46.6666666667% {
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  53.3333333333% {
    transform: rotateZ(-9deg) rotateY(180deg);
  }
  60% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  60.6666666667% {
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  61.3333333333% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  62.6666666667% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  63.3333333333% {
    transform: rotateZ(-30deg) rotateY(180deg);
  }
  64% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  80% {
    transform: rotateZ(-19deg) rotateY(180deg);
  }
  93.3333333333% {
    transform: rotateZ(-16deg) rotateY(180deg);
  }
  100% {
    transform: rotateZ(-16deg) rotateY(180deg);
  }
}
.husky {
  animation: squiggly-anim 0.3s infinite;
  height: 60vmin;
  width: 84vmin;
}
.husky div:before, .husky div:after {
  content: "";
  display: block;
  position: absolute;
}
@media screen and (max-width: 400px) {
  .husky {
    animation: none;
  }
}
.husky:before {
  content: "";
  display: block;
  position: absolute;
  width: 90%;
  height: 0.5vmin;
  background: #30508F;
  border-radius: 0.5vmin;
  top: 100%;
  left: 5%;
  z-index: 2;
}
.husky:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 10%;
  top: calc(100% + 0.5vmin);
  z-index: 3;
  background: #4F8EDB;
}

.head {
  animation: head 12s none infinite;
  position: absolute;
  height: 45%;
  width: 58%;
  left: 34%;
  top: 5%;
  transform-origin: bottom center;
}
.head:before {
  background: #30508F;
  border-top-left-radius: 50% 40%;
  border-top-right-radius: 50% 40%;
  border-bottom-right-radius: 10% 60%;
  height: 100%;
  width: 100%;
}

.face {
  animation: face 12s none infinite;
  position: absolute;
  width: 98%;
  height: 62%;
  top: 15%;
  left: 2%;
}
.face:before {
  z-index: 1;
  width: 94%;
  height: 70%;
  left: 3%;
  background-color: white;
  bottom: 5%;
  border-top-left-radius: 40% 50%;
  border-top-right-radius: 40% 50%;
  border-bottom-left-radius: 30% 50%;
  border-bottom-right-radius: 30% 40%;
}

.eye {
  animation: eyes 12s none infinite;
  position: absolute;
  width: 30%;
  height: 40%;
  background-color: white;
  right: 45%;
  border-top-left-radius: 55% 50%;
  border-top-right-radius: 45% 50%;
  z-index: 2;
}
.eye:before {
  animation: left-eye 12s none infinite;
  height: 15%;
  width: 15%;
  border-radius: 100%;
  background: #343C60;
  top: 45%;
  left: 45%;
  transform-origin: center center;
}
.eye + .eye {
  z-index: 1;
  right: initial;
  left: 48%;
  border-top-right-radius: 55% 50%;
  border-top-left-radius: 45% 50%;
}

.nose {
  animation: nose 12s none infinite;
  z-index: 2;
  position: absolute;
  width: 20%;
  height: 20%;
  top: 29%;
  left: 42%;
}
.nose:after {
  background: #30508F;
  height: 100%;
  width: 100%;
  border-top-left-radius: 20% 20%;
  border-top-right-radius: 30% 20%;
  border-bottom-right-radius: 55% 80%;
  border-bottom-left-radius: 50% 80%;
}
.nose:before {
  height: 100%;
  width: 200%;
  background: white;
  top: 50%;
  left: -50%;
  z-index: -1;
  border-radius: 50%;
}

.ear {
  animation: left-ear 12s both infinite;
  position: absolute;
  top: 3%;
  left: -10%;
  width: 48%;
  height: 30%;
  border-bottom-left-radius: 100% 90%;
  border-top-left-radius: 10%;
  transform-origin: 80% center;
  overflow: hidden;
  background: #30508F;
}
.ear:before {
  width: 70%;
  height: 55%;
  border: 2px solid #30508F;
  background: #DE6465;
  top: 20%;
  left: 15%;
  transform-origin: top left;
  transform: skewX(30deg) rotate(-5deg);
  -webkit-transform: skewX(30deg) rotate(-5deg);
  -o-transform: skewX(30deg) rotate(-5deg);
  -ms-transform: skewX(30deg) rotate(-5deg);
  -moz-transform: skewX(30deg) rotate(-5deg);
}
.ear:after {
  width: 70%;
  height: 100%;
  border-top-left-radius: 100%;
  background: #30508F;
  left: 32%;
  transform-origin: top left;
  transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
}
.ear + .ear {
  animation: right-ear 12s both infinite;
  background-color: #343C60;
  left: 15%;
  top: 5%;
  z-index: -1;
  transform-origin: right center;
}
.ear + .ear:before {
  border-color: #343C60;
}
.ear + .ear:after {
  background: #343C60;
}

.mouth {
  z-index: 1;
  animation: mouth 12s none infinite;
  position: absolute;
  width: 48%;
  height: 55%;
  bottom: -5%;
  left: 28%;
  overflow: hidden;
}
.mouth:before, .mouth:after {
  animation: mouth-cover-left 12s none infinite;
  width: 28%;
  height: 100%;
  background: white;
  top: -50%;
  left: 0;
  z-index: 3;
  transform-origin: right top;
}
.mouth:after {
  animation: mouth-cover-right 12s none infinite;
  left: initial;
  right: 0;
  transform-origin: left top;
}

.lips {
  z-index: 2;
  height: 35%;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.lips:before, .lips:after {
  box-sizing: border-box;
  background: white;
  width: calc(50% + 1.5px);
  border-color: #9EB6D7;
  border-width: 3px;
  border-style: solid;
  height: 100%;
  border-bottom-left-radius: 65% 100%;
  border-bottom-right-radius: 35% 50%;
  border-top-right-radius: 50%;
  border-right-color: transparent;
  border-top-color: transparent;
}
.lips:after {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  left: initial;
  right: 0;
}

.tongue {
  animation: tongue 12s none infinite;
  position: absolute;
  height: 100%;
  width: 44%;
  background: #DE6465;
  left: 25%;
  bottom: 100%;
  z-index: 1;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

.body {
  animation: body 12s none infinite;
  width: 45%;
  height: 100%;
  position: absolute;
  left: 25%;
}

.torso {
  position: absolute;
  height: 55%;
  width: 100%;
  bottom: 0;
}
.torso:before {
  background: #30508F;
  height: 100%;
  width: 50%;
  transform: translateX(-20%) skewX(-30deg);
  -webkit-transform: translateX(-20%) skewX(-30deg);
  -o-transform: translateX(-20%) skewX(-30deg);
  -ms-transform: translateX(-20%) skewX(-30deg);
  -moz-transform: translateX(-20%) skewX(-30deg);
  transform-origin: left bottom;
  border-radius: 0 30% 0 60%;
}
.torso:after {
  background: #30508F;
  height: 100%;
  width: 60%;
  top: 0;
  right: 0;
  border-radius: 10% 40% 60% 0;
}

.mane {
  animation: mane 12s none infinite;
  z-index: 2;
  position: absolute;
  width: 31.5%;
  height: 30%;
  top: 44%;
  left: 37%;
}
.mane:before {
  background: white;
  height: 40%;
  width: 100%;
  border-top-left-radius: 10% 50%;
  border-top-right-radius: 20% 100%;
  border-bottom-left-radius: 10% 50%;
}
.mane:after {
  background: white;
  top: 25%;
  height: 76%;
  width: 30%;
  right: 23%;
  border-top-right-radius: 100% 80%;
  transform: rotate(47deg);
  -webkit-transform: rotate(47deg);
  -o-transform: rotate(47deg);
  -ms-transform: rotate(47deg);
  -moz-transform: rotate(47deg);
  transform-origin: bottom right;
}

.coat {
  position: absolute;
  width: 50%;
  height: 50%;
  background: white;
  transform-origin: bottom right;
  left: 10%;
  top: 21%;
  transform: rotate(25deg) skewX(-30deg);
  -webkit-transform: rotate(25deg) skewX(-30deg);
  -o-transform: rotate(25deg) skewX(-30deg);
  -ms-transform: rotate(25deg) skewX(-30deg);
  -moz-transform: rotate(25deg) skewX(-30deg);
}

.legs {
  background-color: #30508F;
  position: absolute;
  height: 30%;
  width: 42%;
  left: 23%;
  bottom: 0;
  border-top-left-radius: 20% 37%;
  border-bottom-left-radius: 10% 37%;
  border-top-right-radius: 50%;
  z-index: 1;
}

.front-legs {
  position: absolute;
  width: 55%;
  height: 117%;
  bottom: 0;
  right: -12%;
}
.front-legs:before {
  width: 4%;
  height: 6%;
  background: transparent;
  bottom: 0;
  left: 47%;
  box-shadow: -1.3vmin 0 0 #9EB6D7, -2.8vmin 0 0 #9EB6D7, 1.3vmin 0 0 #4F8EDB, 2.8vmin 0 0 #4F8EDB;
  z-index: 2;
}
.front-legs > .leg {
  width: 51%;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 50%;
  overflow: hidden;
}
.front-legs > .leg:before {
  background: #C8DAF2;
  height: 100%;
  width: 100%;
  transform: skewY(-30deg) skewX(10deg);
  -webkit-transform: skewY(-30deg) skewX(10deg);
  -o-transform: skewY(-30deg) skewX(10deg);
  -ms-transform: skewY(-30deg) skewX(10deg);
  -moz-transform: skewY(-30deg) skewX(10deg);
  transform-origin: top right;
}
.front-legs > .leg + .leg {
  right: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.front-legs > .leg + .leg:before {
  background: #9EB6D7;
}

.hind-leg {
  position: absolute;
  background: #9EB6D7;
  width: 35%;
  height: 25%;
  border-top-left-radius: 35% 100%;
  border-top-right-radius: 40% 100%;
  bottom: 0%;
  right: 45%;
}
.hind-leg:before {
  width: 6%;
  height: 20%;
  background: transparent;
  bottom: 0;
  left: 70%;
  box-shadow: -0.8vmin 0 0 #4F8EDB, 0.8vmin 0 0 #4F8EDB;
}

.tail {
  position: absolute;
  width: 15%;
  height: 6%;
  bottom: 0;
  right: 72%;
  background: #343C60;
  z-index: 0;
}
.tail > .tail {
  animation: tail 12s none infinite;
  height: 100%;
  width: 4vmin;
  right: 26%;
  transform-origin: center right;
  border-top-left-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  transform: rotate(26deg);
  -webkit-transform: rotate(26deg);
  -o-transform: rotate(26deg);
  -ms-transform: rotate(26deg);
  -moz-transform: rotate(26deg);
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}
.husky > .tail {
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.husky > .tail > .tail {
  right: 88%;
}

@keyframes squiggly-anim {
  0% {
    filter: url("#squiggly-0");
  }
  25% {
    filter: url("#squiggly-1");
  }
  50% {
    filter: url("#squiggly-2");
  }
  75% {
    filter: url("#squiggly-3");
  }
  100% {
    filter: url("#squiggly-4");
  }
}
.navegador-tabs {
  padding: 20px 100px;
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  color: black;
}
.navegador-tabs li {
  cursor: pointer;
  width: 25%;
  text-align: center;
}
.navegador-tabs li.tabSelection {
  background: #ff7f04;
  color: white;
  border-radius: 20px;
}

.tabBox {
  padding: 30px;
}

.boxPerroAzul .titulo {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.misMascotas {
  width: 70%;
  margin: auto;
  overflow: hidden;
}
.misMascotas .headerMascotas {
  margin: 10px;
  box-shadow: 0px 0px 5px black;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  background: #ff7f04;
  color: white;
}
.misMascotas .headerMascotas span {
  text-align: right;
  display: flex;
  justify-content: center;
  align-items: center;
}
.misMascotas .bodyMascotas {
  margin: 10px;
  box-shadow: 0px 0px 5px black;
  border-radius: 30px;
  padding: 10px 30px;
}
.misMascotas .bodyMascotas .row div {
  width: 50%;
  padding: 10px;
}
.misMascotas .bodyMascotas .infoMascotas ul li {
  font-size: 18px;
  padding: 15px;
}
.misMascotas .bodyMascotas .foto {
  max-height: 280px;
}
.misMascotas .bodyMascotas .foto img {
  object-fit: scale-down;
  height: 100%;
  background: whitesmoke;
}

.noAdopcion {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px auto;
}
.noAdopcion .mensajeAdopta, .noAdopcion .mensajeApadrina {
  max-width: 300px;
  text-align: center;
  position: absolute;
}
.noAdopcion .mensajeAdopta .btn_naranja, .noAdopcion .mensajeApadrina .btn_naranja {
  padding: 3px 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 20px;
}
.noAdopcion .mensajeAdopta {
  top: 20%;
  left: 4%;
}
.noAdopcion .mensajeApadrina {
  top: 40%;
  right: 4%;
}

.perfil {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfil .header {
  display: flex;
  position: relative;
}
.perfil .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfil .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfil .header .btn_tabs {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfil .header .btn_tabs i {
  font-size: 40px;
  margin: 0 30px;
}
.perfil .header .nombreAnimal {
  position: absolute;
  top: 70px;
  right: 40%;
  font-size: 40px;
}
.perfil .adoptadoORadoptar {
  display: flex;
  font-size: 16px;
  position: absolute;
  right: 30px;
  bottom: 10px;
}
.perfil .adoptadoORadoptar strong {
  margin: 0 10px;
}
.perfil .adoptadoORadoptar span {
  margin: 0 10px;
  color: gray;
}
.perfil .adoptadoORadoptar .btn_naranja {
  width: 40%;
  margin: 3px;
  width: 250px;
}
.perfil .perfilTabsItems {
  display: flex;
  margin-top: 20px;
}
.perfil .descripcion {
  background: whitesmoke;
  padding: 30px;
  width: 40%;
  border-radius: 44px;
  margin: 0 auto;
}
.perfil .descripcion p {
  margin: 10px 0;
}
.perfil .informacion {
  padding: 30px;
  width: 50%;
  background: whitesmoke;
  border-radius: 44px;
  margin: auto;
}
.perfil .informacion table {
  width: 100%;
}
.perfil .informacion tr {
  position: relative;
}
.perfil .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfil .informacion tr td:nth-child(2) {
  text-align: right;
}
.perfil .fotos {
  padding: 20px;
  border-radius: 44px;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}
.perfil .fotos img {
  border-radius: 10px;
  margin: 5px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: solid 1px rgba(128, 128, 128, 0.141);
}
.perfil .vacunas {
  width: 70%;
  margin: auto;
  border-radius: 44px;
  background: whitesmoke;
  padding: 40px;
}
.perfil .vacunas .vacuna {
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  text-align: center;
  margin: 10px 0;
  position: relative;
}
.perfil .vacunas .vacuna:hover .descripcionVacuna {
  display: block;
}
.perfil .vacunas .vacuna .descripcionVacuna {
  display: none;
  position: absolute;
  right: -5px;
  z-index: 2;
  background: #c7c7c7;
  border-radius: 20px;
  color: white;
  max-width: 200px;
  padding: 20px;
}
.perfil .vacunas .vacuna .descripcionVacuna i {
  position: absolute;
  top: -20px;
  font-size: 30px;
  color: #c7c7c7;
}

.perfilUsuario {
  margin: auto;
  width: 90%;
  padding: 4%;
  border-radius: 32px;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
  position: relative;
}
.perfilUsuario .header {
  display: flex;
  position: relative;
}
.perfilUsuario .header .fotoPerfil {
  width: 204px;
  height: 204px;
  border-radius: 100%;
  overflow: hidden;
}
.perfilUsuario .header .fotoPerfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.perfilUsuario .header .btn_editar {
  position: absolute;
  right: 10px;
  top: 20px;
}
.perfilUsuario .header .btn_editar i {
  font-size: 40px;
  margin: 0 30px;
}
.perfilUsuario .header .nombreUsuario {
  padding: 0 200px;
  position: absolute;
  top: 70px;
  width: 100%;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}
.perfilUsuario .informacion {
  margin: 10px auto;
  padding: 30px;
  width: 90%;
  background: whitesmoke;
  border-radius: 44px;
}
.perfilUsuario .informacion table {
  margin: auto;
  width: 50%;
}
.perfilUsuario .informacion tr {
  position: relative;
}
.perfilUsuario .informacion tr td {
  padding: 2px;
  width: 50%;
  border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
}
.perfilUsuario .informacion tr td:nth-child(2) {
  text-align: right;
}

.divTableDatos {
  margin: 0 auto;
  width: 90%;
  padding: 5%;
  box-shadow: 5px 5px 15px rgba(100, 100, 100, 0.5);
  background: white;
  border-radius: 44px;
}
.divTableDatos .navTable {
  display: flex;
}
.divTableDatos .navTable .buttonsTable {
  min-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divTableDatos .navTable .nombreIndicador {
  min-width: 60%;
  font-size: 40px;
  text-align: center;
  font-weight: 900;
}
.divTableDatos .navTable .buscarTable {
  width: 10%;
  font-size: 40px;
  text-align: right;
}
.divTableDatos table {
  width: 100%;
  border-spacing: 0 20px;
  border-collapse: inherit;
}
.divTableDatos table thead {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table thead tr, .divTableDatos table thead td, .divTableDatos table thead th {
  background: rgba(212, 212, 212, 0.58);
}
.divTableDatos table tbody tr {
  margin: 10px 0;
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
}

.soliComunicadas thead {
  background: #ff7f04 !important;
  color: white;
}
.soliComunicadas thead tr, .soliComunicadas thead th {
  background: #ff7f04 !important;
  color: white;
}

/*-------------------- INDEX -------------------- */

/*# sourceMappingURL=index.css.map */
