.container-donar{

    width: 100%;
    height: 100%;
    display: flex;
}

.donaciones{
    width: 110%;
    background-color: white;
    padding: 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: black;
    margin-bottom: 20px;
    box-shadow: black 0px 0px 5px;
    text-align: justify;
        h3,h1{
          text-align: center;
        }
}
.col-cg{
    padding: 0;
  position: relative;
//   z-index: 1;
  width: 50%;
//   height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.col-cg:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
    background: #ff7f04;
    border-radius: 20% 0 0 20%;
  
}

.doscolumnas {
  width: 100%;
  height: 100%;
  // background-color: #ff7f04;
  column-count: 2;
  margin-top: 10px !important;
  margin: auto;

}

.quedonar{
background-color: whitesmoke;
height: 150px;
width: 90%;
margin-left: 20px;
padding: 5px;
      img{
        height: 150px;
        width: 50%;
      }
}
