
aside{
    width: 370px;
}

.adoptargeneral{
    display: flex;
}
.adopta-message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 30px 50px 30px;
}

.animalitosAdoptar{
    width: 100%;
    margin-top: 20px; 
    .card-adopta{
        margin: 10px auto;
    }
}

.perfil{
    margin: auto;
    width: 90%;
    padding: 4%;
    border-radius: 32px;
    box-shadow: 0px 0px 10px rgba(100,100,100,0.5);
    position: relative;
    .header{
        display: flex;
        position: relative;
        .fotoPerfil{
            width: 204px;
            height: 204px;
            border-radius: 100%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
       }
       .btn_tabs{
            position: absolute;
            right: 10px;
            top: 20px;
            i{
                font-size: 40px;
                margin: 0 30px;
            }
    
       }
       .nombreAnimal{
            position: absolute;
            top: 70px;
            right: 40%;
            font-size: 40px;
       }
    }


   .adoptadoORadoptar{
       display: flex;
       font-size: 16px;
       position: absolute;
       right: 30px;
       bottom: 10px;
        strong{
            margin: 0 10px;
        }
        span{
            margin: 0 10px;
            color: gray;
        }
   }

   .perfilTabsItems{
        display: flex;
        margin-top: 20px;
   }

   // Primer tab - Información

   .descripcion{
        background: whitesmoke;
        padding: 30px;
        width: 40%;
        border-radius: 44px;
        margin: 0 auto;
        p{
            margin: 10px 0;
        }
   }
   .informacion{
       padding: 30px;
       width: 50%;
       background: whitesmoke;
       border-radius: 44px;
       margin: auto;
       table{
           width: 100%;
       }
       tr{
           position: relative;

          td{
              padding: 2px;
              width: 50%;
              border-bottom: 0.5px solid rgba(158, 158, 158, 0.534);
              &:nth-child(2){
                  text-align: right;
              }
          }
       }
   }

   // Primer tab - Información

   // Segundo tab - Fotos

   .fotos{
       padding: 20px;
       border-radius: 44px;
       display: flex;
       width: 90%;
       margin: auto;
       img{
           border-radius: 10px;
           margin: 5px;
           width: 200px;
           height: 200px;
           object-fit: cover;
           border: solid 1px rgba(128, 128, 128, 0.141);
       }
   }

   // Segundo tab - Fotos

   // Tercer tab - Vacunas

   .vacunas{
       width: 70%;
       margin: auto;
       border-radius: 44px;
       background: whitesmoke;
       padding: 40px;
       .vacuna{
           background: white;
           border-radius: 20px;
           box-shadow: 0px 0px 10px rgba(100,100,100,0.5);
           text-align: center;
           margin: 10px 0;
           position: relative;

           &:hover{
               .descripcionVacuna{
                   display: block;
               }
           }
            .descripcionVacuna{

                display: none;
                position: absolute;
                right: -5px;
                background: rgb(199, 199, 199);
                border-radius: 20px;
                color: white;
                max-width: 200px;
                padding: 20px;
                i{
                    position: absolute;
                    top: -20px;
                    font-size: 30px;
                    color: rgb(199, 199, 199); 
                }

            }
       }
   }


}


// .galeria{
//     display: flex;
//     flex-wrap: wrap;
//     background: white;
//     padding: 10px;
//     margin: 10px 0;
//     .imageItem{
//         margin: 10px;
//         max-width: 250px;
//         position: relative;
//         max-height: 250px;
//         img{
//             width: 100%;
//             height: 100%;
//             object-fit: cover;
//             box-shadow: 0px 0px 1px black;
//         }
//     }
// }


// Admin

.titleAnimalitos{
    padding: 40px 10%;
    text-align: center;
}

.animalitosInfo{
    border-spacing: 0;
    border-collapse: inherit; 
    min-width: 80%;
    position: relative;
    margin: auto;

    thead{
        background: $color-principal;
        th{
            @for $i from 2 through 4{
                &:nth-child(#{$i}){
                    padding: 4px 15px;
                }
        
            }

            color: white;
            // background: $color-principal;
            font-weight: 800;
            padding: 5px;
            border: solid 1px $color-principal;
        }
    }

    tbody{
        background: whitesmoke;
        tr{
            cursor: pointer;
            transition: .5s;
            background: rgba(212, 212, 212, 0.377);
            &:hover{
                background: rgb(255, 255, 255);
            }
        }
   
        td{
            font-weight: 100;
            padding: 4px 0;
            text-align: center;
            border-bottom: solid 1px rgba(212, 212, 212, 0.548);
            a{
                height: 40px;
                padding: 1px 20px;
            }

            img{
                width: 45px;
                height: 45px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}

.animalitosAdminInfo{
    width: 100%;
    padding: 5px;
    display: flex;
    color: white;
    ul{
        width: 50%;
        margin: 10px;
        li{
            margin: 4px;
            padding: 10px;
            background: $color-principal-tra;
        }
    }
}