
aside{
    width: 370px;
}

.adoptargeneral{
    display: flex;
}
.adopta-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 30px 50px 30px;
    .titulo{
        position: absolute;
        top: 17%;
        margin: 0 0 30px 0 !important;
    }
}

.animalitosAdoptar{
    width: 100%;
    margin-top: 20px; 
    justify-content: center;
    align-items: center;
    .card-adopta{
        margin: 10px 20px;
    }
}




// Admin

.animalitosInfo{
    border-spacing: 0;
    border-collapse: inherit; 
    min-width: 80%;
    position: relative;
    margin: auto;

    thead{
        th{
            @for $i from 2 through 4{
                &:nth-child(#{$i}){
                    padding: 4px 15px;
                }
        
            }
            padding: 10px 0;
        }
    }

    tbody{
        background: whitesmoke;
        tr{
            transition: .5s;
            // &:hover{

            // }
        }
   
        td{
            font-weight: 100;
            padding: 4px 0;
            text-align: center;
            a{
                height: 40px;
                padding: 1px 20px;
            }

            img{
                width: 45px;
                height: 45px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}

.animalitosAdminInfo{
    width: 100%;
    padding: 5px;
    display: flex;
    color: white;
    ul{
        width: 50%;
        margin: 10px;
        li{
            margin: 4px;
            padding: 10px;
            background: $color-principal-tra;
        }
    }
}



// Usuario 

.buttonCorazones{
    position: relative;

    .AnimacionCorazones{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color:#e64356;
        border-bottom-right-radius: 23%;
        opacity: 0;
        animation-fill-mode: both;
    
        &::before, &::after{
            position: absolute;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 50%;
            background-color:#e64356;
        }
    
        &::before{
            top: -53%;
            right: 0px;
            transform: rotate(45deg);
        }
        &::after{
            bottom: 0px;
            left: -53%;
        }
    
        &.cor1{
            top: -125%;
            left: 115%;
        }
    
        &.cor2{
            top: -136%;
            left: 17%;
            
        }
    
        &.cor3{
            top: -148%;
            left: 114%;
        }
    
        &.cor4{
            top: -153%;
            left: -13%;
        }
    
        @keyframes hoverCorazones {
            0% { transform: scale(0.75) rotate(35deg); opacity: 1; }
            5%, 15%, 25% { transform: scale(1) rotate(35deg); }
            10%, 20% { transform: scale(0.75) rotate(35deg); }
            70% { opacity: 1;}
            100% {transform: rotate(35deg)  translateY(-40px) translateX(-40px); opacity: 0;}
        }
    }

    &:hover{
        .cor1{
            animation: hoverCorazones 2s ease-out 1 1.5s;
        }
        .cor2{
            animation: hoverCorazones 2s ease-out 1 1s;
        }
        .cor3{
            animation: hoverCorazones 2s ease-out 1 .5s;
        }
        .cor4{
            animation: hoverCorazones 2s ease-out 1;
        }
    }
}

.adoptaAnimalitoUser{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    
    @include respond-to(1000px){
        grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to(500px){
        grid-template-columns: 1fr;
    }


    .card-adopta{
        margin: 20px auto;
    }
}

.buscador-mascotas{
    position: relative;
    right: -150px;
    font-size: 30px;
    cursor: pointer;
}

#buscadorAnimalitos{
    padding: 50px 100px;
    text-align: center;
}

