.navegador-tabs{
    padding: 20px 100px;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    color: black;
    li{
        cursor: pointer;
        width: 25%;
        text-align: center;

        &.tabSelection{
           background: $color-principal;
           color: white;
           border-radius: 20px;
        }
    }
}
.tabBox{
    padding: 30px;
}

.misMascotas{
    width: 70%;
    margin: auto;
    overflow: hidden;
    .headerMascotas{
        margin: 10px;
        box-shadow: 0px 0px 5px black;
        border-radius: 30px;

        padding: 10px 20px;
        display: flex;
        background: $color-principal;
        color: white;
        span{
            text-align: right;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .bodyMascotas{
        margin: 10px;
        box-shadow: 0px 0px 5px black;
        border-radius: 30px;

        padding: 10px 30px;
        .row{

            div{
                width: 50%;
                padding: 10px;
            }
            
        }
        
        .infoMascotas{
            ul{
                li{
                    font-size: 18px;
                    padding: 15px;
                }
            }
        }
        .foto{
            max-height: 280px;
            img{
                object-fit: scale-down;
                height: 100%;
                background: whitesmoke;
            }
        }
    }
}